* {
    list-style: none;
    font-family: Nanum_Gothic_bold;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

/* 객실 검색 상단바 */
.search_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    height: 10vh;
    z-index: 1;
}

.location_search_box {
    width: 16vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
}

.date_box {
    display: flex;
}

.check_in_date,
.check_out_date,
.occupancy_box {
    width: 8vw;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;

    display: flex;
    align-items: center;
    padding-left: 3px;
    font-size: 13.5px;
    color: gray;
    cursor: pointer;
}

.occupancy_box {
    padding-left: 5px;
}

.search_button {
    width: 6vw;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(177 190 213 / 50%);
    cursor: pointer;
}

@media screen and (width < 870px) {
    .main_img_large {
        min-width: 200px !important;
    }

    .main_img_small {
        min-width: 85.5px !important;
    }
}

@media screen and (width < 1130px) {
    .top_review_area {
        width: 486px !important;
    }

    .room_information {
        display: block !important;
        justify-content: space-between;
    }

    .room_information_image {
        width: 100% !important;
        height: 350px !important;
        margin-right: 20px;
        border-radius: 20px;
    }

    .room_information_price {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .purchase_price {
        text-align: center !important;
    }

    .room_information_price>a {
        width: 100% !important;
    }

    .review_img div:nth-child(4) {
        display: none;
    }
}


@media screen and (width < 955px) {
    .information1 {
        display: block !important;
    }

    .top_review_area {
        width: auto !important;
    }

    .map_image {
        width: auto !important;
    }
}

@media screen and (width < 875px) {
    .review_img div:nth-child(3) {
        display: none;
    }
}


@media screen and (width < 800px) {
    .name_details {
        margin-bottom: 10px !important;
    }

    .top_review h2 {
        margin-top: 15px;
    }

    .information2 {
        display: block !important;
    }

    .service_area>h2 {
        margin-left: 0 !important;
    }

    .service_area_details {
        padding: 0 !important;
    }

    .room>h2 {
        margin-bottom: 10px;
        margin-top: 30px !important;
    }

    .room_type {
        margin-top: 5px !important;
    }
}

@media screen and (width < 640px) {
    .check_in_date div {
        display: none;
    }

    .check_out_date div {
        display: none;
    }

    .occupancy_box div {
        display: none;
    }
}

@media screen and (width < 535px) {
    .review_username {
        display: none !important;
    }

    .review_content {
        width: 100% !important;
    }
}

/* main */
section h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* 상단 이미지 */
.main_screen {
    max-width: 1200px;
    margin: auto;
}

.name_details {
    margin-bottom: 25px;

    display: flex;
}

.name_details h1 {
    margin: 0;
    display: inline-block;
}

.name_details span {
    font-size: 12px;
    align-content: center;
    margin-left: 5px;
}

.btn_like {
    right: 10%;
    width: 10%;
}

.like_aaa {
    align-items: center;
    border-radius: 100px;
    border-width: 1.5px;
    border-color: lightgray;
    height: 32px;
    margin-bottom: -5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    --tw-border-opacity: 1;
    border-color: rgb(183 213 246 / var(--tw-border-opacity));

}

.btn_like input {
    display: none;
}

/* ============================================================ */
.btn_like .like_aaa input {
    display: none;
}

.btn_like label {
    display: inline-block;
    cursor: pointer;
}

.btn_like label span {
    display: inline-block;
    width: 28px;
    height: 25px;
    text-indent: -9999em;
    background: url("../image/icon/heart-regular.svg") no-repeat 0/cover;
    transition: .3s;
}

.btn_like input[id^=like]:checked+label span {
    background: url("../image/icon/heart-solid.svg") no-repeat 0/cover;
    transition: .3s;
}



.main_img_area {
    height: 440px;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

.main_img_large {
    min-width: 445px;
    height: 100%;
    cursor: pointer;
    grid-row: span 2 / span 2;
    position: relative;
}

.main_img_large img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.main_img_small {
    min-width: 185.5px;
    height: 100%;
    cursor: pointer;
    grid-row: span 1 / span 1;
    position: relative;
}

.main_img_small:nth-child(4) img {
    border-top-right-radius: 8px;
}

.main_img_small:nth-child(5) img {
    border-bottom-right-radius: 8px;
}

.main_img_area img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_img_area img:hover {
    opacity: 50%;
    transition-duration: 500ms;
}

/* 정보 네이게이션(위치이동) */
.nav_2 {
    width: auto;
    height: fit-content;
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 20px 0;
    box-shadow: 1px 1.5px 10px 0px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nav_3 {
    padding: 0;
    margin: 25px 0;
}

.nav_3 li {
    flex: 1;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 70px;

}

.nav_3 a {
    padding: 5px 8px;
    border-radius: 15px;
    color: black;
    margin-top: -6px;
    margin-bottom: 10px;
}

.nav_3 a:hover {
    background-color: rgb(223 223 223 / 50%);
    transition: 0.4s;
}

/* article */
.information1 {
    display: flex;
}

/* 탑리뷰 */
.top_review {
    flex: 2;
}

.top_review h2 {
    margin-bottom: 5px;
}

.top_review_location {
    display: inline-block;
    padding-bottom: 20px;
}

.top_review_area {
    width: 650px;
}

.scroll_area {
    width: auto;
    overflow-x: auto;
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll_area .item {
    display: inline-table;
    height: 153px;
    width: 486px;
    background-color: rgb(250 250 250 / 1);
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.scroll_area .item div span:nth-child(1) {
    float: left;
}

.scroll_area .item div span:nth-child(2) {
    float: right;
}

.scroll_area .item p {
    width: 100%;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: 0px;
    color: rgb(112 112 112 / 1);
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}


/* 위치 */
.map {
    flex: 1;
}

.map h2 {
    margin-bottom: 5px;
}

.map_image {
    width: 450px;
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 4px 20px 0px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.map_location {
    display: flex;
    flex-direction: column;
}

.map_location_details1 {
    line-height: 40px;
    margin: 8px 0;
}

.map_location_details2 {
    font-size: 14px;
    line-height: 30px;
}

/* article */
.information2 {
    display: flex;
}

/* 호텔 소개(정보) */
.hotel_information {
    flex: 1;
}

.hotel_information p {
    margin: 0;
    line-height: 23px;
}

/* 시설 및 서비스 */
.service_area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.service_area>h2 {
    margin-left: 50px;
}

.service_area_details {
    display: block;
    padding: 0 50px;
    margin: 0;
    text-align: center;
    justify-content: space-evenly;
    line-height: 30px;
}

.service_area_details div {
    display: inline-block;
}

.service_area_details>span {
    margin-right: 10px;
}

.date_box img,
.occupancy_box img,
.service_area_details img,
.top_review img,
.map img,
.map_location_details1 img,
.review_location img,
.review_username img,
.review_star img,
.review_more img {
    width: 24px;
    margin-bottom: -7px;
}

/* 객실 */
.room>h2 {
    margin-top: 50px;
}

.room_type {
    padding: 20px;
    margin: 40px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(223 223 223 / 40%);
}

.room_type h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.room_type_name {
    font-size: 22px;
}

.room_information {
    display: flex;
    justify-content: space-around;
}

.room_information_image {
    width: 540px;
    height: 280px;
    margin-right: 20px;
    border-radius: 20px;
}


.room_information_details {
    display: flex;
    flex-direction: column;
}

.room_information_content {
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    font-size: 17px;
    background-color: white;
}

.room_information_content div {
    padding: 10px;
}

.room_information_price {
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 300px;
}

.room_information_price div {
    padding-bottom: 10px;
}

.price_event {
    font-size: small;
}

.list_price {
    text-decoration-line: line-through;
    letter-spacing: 2px;
}

.purchase_price {
    text-align: end;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
    color: red;
}

.w-btn-outline {
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: rgb(223 223 223 / 50%);
    font-weight: 600;
    transition: 0.25s;
    cursor: pointer;
}

.w-btn-indigo-outline {
    border: 3px solid white;
    color: #000000;
}

.w-btn-indigo-outline:hover {
    color: #000000;
    background: white;
}

.room_information_price>a {
    width: 200px;
    height: 55px;
}

/* 이용정보 */
.hotel_guide h3 {
    margin: 10px 0;
}

.hotel_guide li {
    padding: 5px;
    margin-left: 15px;
}

.hotel_guide li::marker {
    content: "- ";
}


/* 리뷰 */
.main_review h2 {
    margin-top: 45px;
    margin-bottom: 5px;
}

.review_location {
    margin-bottom: 35px;
}

.review_location .left_area {
    float: left;
}

.review_location .right_area {
    float: right;
}

.review_btn {
    border: none;
    background-color: white;
}

.review_btn>img {
    width: 20px;
}

.review_btn>span {
    font-size: 15px;
    color: black;
}

.review_design {
    width: 100%;
    height: 400px;
    background-color: rgb(223 223 223 / 40%);
    border-radius: 30px;

    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.review_username {
    width: 25%;
    ;

    display: -webkit-inline-box;
}

.review_username>div {
    margin-left: 10px;
}

.review_content {
    width: 75%;
    align-content: center;
}

.review_star {
    margin-bottom: 15px;
}

.review_star img {
    width: 20px;
}

.review_date {
    font-size: 14px;
}

.review_img {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
}

.review_img_size {
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

.review_img_size img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review_room {
    margin: 10px;
    color: gray;
    font-size: 14px;
}

.review_text {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}

.review_text p {
    width: 100%;
    height: 130px;
    white-space: pre-line;
    overflow: auto;
    padding: 10px;
}

/* 리뷰 더보기 */
.review_more {
    display: flex;
    justify-content: end;
    align-items: center;
}

.review_more>a {
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 15px;
    color: black;
    margin-top: -6px;
    margin-bottom: 10px;

}

.review_more>a:hover {
    background-color: rgb(223 223 223 / 70%);
    transition: 0.4s;
}

/* 탑버튼 */
.top_btn {
    position: fixed;
    bottom: 22%;
    right: 10%;
}

.top_btn img {
    width: 30px;
    height: 30px;
}

@media screen and (width < 1600px) {
    .top_btn {
        right: 0;

    }
}

@media screen and (width < 1270px) {
    .top_btn {
        display: none;

    }
}