* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Nanum_Gothic_bold;
}

@media (width <=900px) {
  .section_id {
    flex-direction: column;
    margin: auto;
  }

  .desktop_right {
    order: -1;
  }

  .buy_id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .buy_id_banner {
    width: 420px;
  }

}

@font-face {
  /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
  font-family: Nanum_Gothic_bold;
  src: url(./font/Nanum_Gothic/NanumGothic-Bold.ttf);

  font-family: Nanum_Gothic_ExtraBold;
  src: url(./font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

  font-family: Nanum_Gothic;
  src: url(./font/Nanum_Gothic/NanumGothic-Regular.ttf);

  font-family: Jua-Regular;
  src: url(./font/Jua/Jua-Regular.ttf);
}

.desktop_right,
.section_id {
  transition: .5s;
}

button,
input,
span {
  font-family: Jua-Regular;
}

h2 {
  font-family: Nanum_Gothic_bold;
  font-size: 18px;
}

/* =========================================== */
/* header {
  height: 7vh;
  width: 100%;
  background-color: rgba(164, 178, 192, 0.142);
}

.headlogo {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: space-between;
} */

/* ============================================================== */
/* 주문 내역 */
#receipt_page {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .3);
}

.receipt_inf {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-content: start;
  align-items: center;
  width: 30%;
  height: 70%;
}

.receipt_inf div:nth-child(2) img {
  border-radius: 15px;
  width: 20vw;
  height: 20vh;
}

.receipt_inf h1 {
  margin-block: 10px;
}

.receipt_inf table {
  display: flex;
  margin-top: 10px;
}

.receipt_img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hd_tx {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.receipt_img img {
  align-self: center;
}

.receipt_inf table td:first-child {
  font-weight: bold;
  padding-right: 10px;
}


.receipt_cus {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.receipt_cus p {
  font-weight: bold;
}

.receipt_cus:nth-of-type(5)>span {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.receipt_link_btn {
  display: flex;
  gap: 10px;
}

.receipt_link_btn a {
  color: lightskyblue;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  font-weight: bold;
  border: 1px solid ;
  border-radius: 10px;
}

.receipt_link_btn a:hover {
  box-shadow: 0 2px 2px lightblue;
}

/* ========================================== */
/* 이전 페이지 */

.section_id {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.bor_ai {
  border-bottom: 1px solid gray;
  width: 80%;
  margin: 20px auto 0;
  padding-bottom: 20px;
}

.bor_ai .buy_a1 svg {
  vertical-align: top;
}

.bor_ai .buy_a1 h1 {
  color: black;
  width: 50vw;
  /* 원하는 너비로 조정하세요 */
  font-size: 24px;
}

.bor_ai .buy_a1:hover h1 {
  color: skyblue;
}

.buy_a1b {
  width: 45vw;
}

.buy_a1b h2 {
  margin-left: 30px;
}

/* ====================================================== */
/* 예약자 이름 */

.buy_call,
.buy_id {
  margin: 30px 50px;
}

.buy_call button {
  width: 100px;
  height: 40px;
  /* margin-top: 10px; */
  border-radius: 5px;
  border: .8px solid lightgray;
  cursor: pointer;
  vertical-align: middle;
  transition: .3s;
}

.buy_call p {
  font-size: 10px;
  color: gray;
  margin-top: 10px;
  margin-left: 10px;
}

.buy_id_banner {
  border-radius: 12px;
  line-height: 70px;
  background-color: lightblue;
  text-align: center;
  margin: 30px;
}

/* =================================================== */
/* 쿠폰 관련 코드 */
/* .결제-페이지 {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

label {
  margin-bottom: 5px;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3;
} */

/* =================================================== */

.buy_id00 {
  /* font-size: 16px; */
  margin-bottom: 10px;
}

.buy_id01 {
  font-size: 12px;
  width: 250px;
  height: 38px;
  padding-left: 15px;
  border-radius: 5px;
  opacity: .8;
}

.buy_label {
  display: flex;
  gap: 10px;

  width: 300px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.buy_label input {
  margin-right: 10px;
}

.buy_label [type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: 0.5s;
  vertical-align: text-bottom;
}

.buy_label [type="radio"]:checked {
  border: 0.4em solid blue;
}

.buy_label [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.buy_id0a1 {
  margin: auto auto 20px;
}

.buy_call p {
  width: 250px;
}

.buy_call button:hover {
  background-color: white;
  box-shadow: 2px 3px rgb(135, 206, 250, .3);
  transition: .3s;
}

.last_payment button {
  width: 100px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.last_payment button:hover {
  background-color: white;
  box-shadow: 2px 3px rgb(135, 206, 250, .3);
  transition: .3s;
  opacity: .9;
}

/* ==================================================== */
/* 빈공간 */
.buy_gap {
  flex: 0 0 16px;
}

.buy_gaps {
  flex-direction: column;
  flex: 0 0 16px;
}

/* ==================================================== */
/* 오른쪽 사진 글 */
.desktop_right h2 {
  text-align: left;
  width: 320px;
  margin: 50px 32px auto;
}

/* =================================================== */
/* 오른쪽 사진 */
.lodging_img {
  text-align: center;
}

.lodging_img img {
  width: 340px;
  height: 200px;
  border-radius: 5px;
}

/* ===================================================== */
/* 오른쪽 사진 내용 */
.desktop_right table {
  margin: auto;
  margin-top: 10px;
}

.desktop_right table td {
  vertical-align: top;
  height: 52px;
  padding-bottom: 12px;
}

.bor_bi {
  display: flex;
  flex-direction: column;
}

.bor_bi tbody {
  width: 340px;
  height: 150px;
  margin: auto;
}

.bor_bi tbody tr {
  height: 20px;
}

.bor_bi .td_a {
  width: calc(340px * .3);
  font-size: 16px;
  text-align: left;
}

.bor_bi .td_b {
  width: calc(340px * .7);
  font-size: 16px;
  word-break: break-all;
}

.bor_bi {
  border: 1px solid lightgray;
  /* width: 28vw; */
  /* height: 55vh; */
  border-radius: 10px;
  margin-bottom: 20px;
}

.map_lodging {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_lodging iframe {
  width: 100%;
  /* height: 50%; */
  border: 1px solid lightgray;
}

.map_location {
  display: flex;
  flex-direction: column;
}

.map_location_details1 {
  line-height: 40px;
}

.map_location_details2 {
  font-size: 14px;
  line-height: 30px;
}

/* ================================================== */
/* 결제 정보 */
/* .buy_inform {
  border: 1px solid gray;
} */

.buy_inform div:first-child>h2 {
  margin-top: 30px;
}

.buy_inform>.buy_inform_li:nth-child(2) ul {
  margin-block: 0;
}

.buy_inform>.buy_inform_li:nth-child(3) ul {
  margin-top: 0;
}

.buy_inform ul {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buy_inform_li ul {
  margin: 10px 32px;
}

.last_payment {
  margin-block-end: 20px;
  margin-inline-end: 30px;
  text-align: right;
}

/* =================================================== */
/* 결제 동의 */
.pay_agree {
  box-sizing: border-box;
  margin-inline: 30px;
  margin-block-start: 20px;
}

.agree_box {
  font-size: 18px;
}

.check_reqir {
  margin-block: 5px;
  font-size: small;
}


/* =========================================================== */
/* 결제 수단 */

.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 20px;
  gap: 10px;
}

.payment_type {
  flex: 1;
}

.payment_type span {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 211, 211, .1);
  cursor: pointer;
  transition: .3s;
}

input[id] {
  display: none;
}

[id^=payType]+label:hover span {
  background-color: white;
  box-shadow: 2px 3px rgb(135, 206, 250, .3);
  transition: .3s;
}

.payment_type .payTypeAImg {
  background: url(../image/kakaopay.png) no-repeat 0/cover;
  width: 10vw;
  height: 7vh;
  text-indent: -9999em;
}

.payment_type .payTypeBImg {
  background: url(../image/toss.png) no-repeat 0/cover;
  width: 10vw;
  height: 7vh;
  text-indent: -9999em;
}

.payment_type .payTypeCImg {
  background: url(../image/naver-pay.jpg) no-repeat 0/cover;
  width: 10vw;
  height: 7vh;
  text-indent: -9999em;
}

.payment_type .payTypeDImg {
  background: url(../image/credit-card.svg) no-repeat 0/100% 80%;
  width: 10vw;
  height: 7vh;
  text-indent: -9999em;
}


/* .payTypeB {
  display: none;
}

#payTypeBtnB:checked ~ .payTypeB {
  display: block;
} */


/* ================================================ */

.payment_inner {
  display: flex;
  flex-direction: column;
  place-content: center;
  
  margin-top: 20px;
}

.payment_inner>div {
  margin-block-end: 20px;
}

.payment_inner>div:last-child>div {
  margin-bottom: 5px;
}

.payment_inner>div>div {
  font-size: 12px;
  border-radius: 5px;
  margin-block: 10px;
  padding-inline-start: 10px;
  padding-block: 10px;
  white-space: pre-line;

  background-color: rgb(211, 211, 211, .3);
}

.payment_inner span {
  margin-left: 10px;
}

.payment_inner span+span {
  font-size: 12px;
  margin-left: 10px;
}

.pay_in_back {
  font-size: 10px;
  background-color: rgba(19, 220, 255, 0.2);
  padding: 3px;
  border-radius: 3px;
}


.payment_inner div:nth-of-type(3),
.payment_inner div:nth-of-type(4) {
  display: none;
}

/* ================================================ */

.payment_inner button {
  border: none;
  text-align: center;

  color: rgb(0, 0, 255, .5);
  background-color: white;
}

.payment_inner button span {
  margin: 10px;
  cursor: pointer;
}

.payment_inner button:hover {
  box-shadow: 3px 3px rgb(135, 206, 250, .3);
  border-radius: 3px;
  transition: .4s;
}


/* ================================================ */
.reused_check {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  vertical-align: text-bottom;
}

.reused_check:checked {
  /* background-color: blue; */
  border: .5em solid blue;
}

.reused_check:hover {
  box-shadow: 0 0 0 max(3px, 0.2em) lightgray;
  cursor: pointer;
}

/* =================================================== */
/* footer 내역 */
footer {
  display: inline-block;
  width: 100%;
  margin: auto;
  background-color: rgba(164, 178, 192, 0.142);
}

.footer,
.Copyright {
  margin-bottom: 32px;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0px;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}