h1 {
    font-size: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    font-size: 12px;
}

.packageTopImg,
.packProductList {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packageTopImg img,
.packProductList {
    max-width: 100%;
    height: auto;
}

li {
    display: inline-block
}


@media (max-width: 600px) {
    .packageTopImg img {
        width: 85%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .packageTopImg img {
        width: 80%;
    }
}

@media (min-width: 1025px) {
    .packageTopImg img {
        width: 60%;
    }
}


.packViewContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


p {
    font-size: 12px;
}

.packageTopImg img,
.packProductList img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1300px) {
    .packViewContent {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }


    .packageTopImg,
    .packViewDesc {
        flex: 1;
    }

    .packageTopImg img {
        width: 60%;
    }

    .packViewDesc {
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {

    .packageTopImg img {
        width: 80%;
    }

    .packViewDesc {
        padding: 0 20px;
    }
}

button {
    border: none;
    cursor: pointer;
    width: 800px;
    height: 60px;
    transition: .4s ease-in;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid #fff;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn01:hover {
    background: rgb(177, 190, 213, 0.7);
    color: #fff;
    box-shadow:
        0 0 25px rgb(177, 190, 213, 0.7),
        0 0 50px rgb(177, 190, 213, 0.7),
        0 0 200px rgb(177, 190, 213, 0.7),
        0 0 400px rgb(177, 190, 213, 0.7);
}