* {
    margin: 0;
    padding: 0;
}

@font-face {

    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(./font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(./font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(./font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(./font/Jua/Jua-Regular.ttf);

}



/*header css S*/
header li,
header a,
header button {
    font: Nanum_Gothic_Bold;
    font-size: 16px;
    color: rgba(32, 50, 56, 0.774);
    text-decoration: none;
}

header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 30px 10%;
    background-color: rgb(223 223 223 / 50%);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.logo img {
    object-fit: cover;
    transition: color 0.3s ease;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    position: relative;
    padding: 0px 5px;
}

.nav_link li a {
    padding: 7px 7px;
    transition: all 0.5s ease 0s;
}

.nav_link li a:hover {
    border-radius: 50px;
    color: white;
    background-color: rgba(191, 216, 213, 0.8);
}

.reserve {
    display: none;
    position: absolute;
    top: 27px;
    left: -20px;
    background-color: rgb(223 223 223 / 70%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 140px;
}

.myinfo {
    display: none;
    position: absolute;
    top: 27px;
    left: -35px;
    background-color: rgb(223 223 223 / 70%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 140px;
}

.nav_link li:hover .myinfo,
.nav_link li:hover .reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.myinfo li,
.reserve li {
    display: flex;
    width: 140px;
    padding: 5px 0;
}

.myinfo a,
.reserve a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease;
}

.nav_link li .myinfo a:hover,
.nav_link li .reserve a:hover {
    background-color: rgb(177 190 213 / 50%);
    border-radius: 0px;
    transform: scale(110%, 110%);
    transition: color 0.3s ease;
}

header .cta {
    margin-left: 20px;
    padding: 7px 7px;
    background-color: rgb(177 190 213 / 50%);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
}

header .cta:hover {
    color: white;
    background-color: rgb(177 190 213 / 80%);
}

/*헤더 미디어 쿼리 S*/
@media screen and (900px > width > 720px) {

    header li,
    header a,
    header button {
        font-size: 0.925em;
    }

    header .cta {
        margin-left: 5px;
        padding: 4px 3px;
        text-align: center;
    }

    .logo {
        cursor: pointer;
        margin-right: auto;
        height: 40px;
        border-radius: 5px;
        transition: color 0.3s ease;
    }

    .nav_link li {
        padding: 0px 3px;
    }

    .nav_link li a {
        padding: 4px 4px;
    }

    .reserve {
        top: 20px;
        left: -16px;
        padding: 10px;
        width: 100px;
    }

    .myinfo {
        top: 20px;
        left: -25px;
        padding: 10px;
        width: 100px;
    }

    .myinfo li,
    .reserve li {
        width: 100px;
        padding: 5px 0;
    }
}

@media screen and (720px > width) {

    header li,
    header a,
    header button {
        font-size: 0.85em;
    }

    header .cta {
        font-size: 0.825em;
        text-align: center;
        padding: 4px 4px;
        margin-left: 0px;
    }

    .logo {
        cursor: pointer;
        margin-right: auto;
        height: 30px;
        border-radius: 5px;
        transition: color 0.3s ease;
    }

    .nav_link li {
        padding: 0px 3px;
    }

    .nav_link li a {
        padding: 3px 3px;
    }

    .reserve {
        top: 20px;
        left: -7px;
        padding: 10px;
        width: 80px;
    }

    .myinfo {
        top: 20px;
        left: -18px;
        padding: 10px;
        width: 80px;
    }

    .myinfo li,
    .reserve li {
        width: 80px;
        padding: 5px 0;
    }

}

/*헤더 미디어 쿼리 E*/
/*header css E*/



/*footer css S*/

footer {
    display: flex;
    width: 100%;
    height: 200px;
    transform: translateY(0%);
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(223 223 223 / 50%);
}

/* .empty_box {
    min-height: calc(250vh - 200px);

} */

.footer,
.Copyright {
    font: Nanum_Gothic_Bold;
    margin-bottom: 32px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}

/* footer css E*/