* {
    margin: 0;
    text-decoration-line: none;
    list-style: none;
    font-family: Nanum_Gothic;
}

@font-face {
    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(./font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(./font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(./font/Nanum_Gothic/NanumGothic-Regular.ttf);

    font-family: Jua-Regular;
    src: url(./font/Jua/Jua-Regular.ttf);
}


main {
    min-height: 100%;
    height: 250vh;
    max-height: 300vh;
    position: relative;
}

.empty_box {
    height: 30vh;
}

/*이승현 메인화면 미디어쿼리 적용*/

section {
    display: flex;
    max-width: 1800px;
    justify-content: center;
}

.mainimg_section {
    max-width: 100vw;
}

.slider_content {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease-out;
}


.slider_content video {
    /* background: cover; */
    border-radius: 5px;
    opacity: 0.7;
    width: 100vw;
    height: 100%;
    object-fit: fill;
    box-sizing: border-box;
    overflow: clip;
    /* overflow-clip-margin: content-box; */
}


@media screen and (width > 1200px) {
    .region {
        flex-basis: 20%;
    }
}

@media screen and (width >=1300px) {
    .slider_content {
        height: 600px;
    }
}

@media screen and (1300px > width >=1100px) {
    .slider_content {
        height: 600px;
    }

}

@media screen and (1100px > width >=900px) {
    .slider_content {
        height: 500px;

    }

    .region {
        /* flex-basis: 20%; */
    }


    .form input[type="email"],
    .form input[type="password"],
    .form input[type="text"] {
        width: 40vw;
        transition: all 0.5s ease;
    }

    .region_inner {
        height: 250px !important;
    }
}

@media screen and (900px > width >=720px) {
    .slider_content {

        height: 450px;

    }

    .form_section .form input[type="email"],
    .form_section .form input[type="password"],
    .form_section .form input[type="text"] {
        width: 20vw;
        transition: linear 0.5s ease;
    }

    .region {
        flex-basis: 25%;
    }

    .region_inner {
        height: 250px !important;
    }

}

@media screen and (720px > width) {
    .slider_content {
        height: 300px;

    }

    .region {
        flex-basis: 25%;
    }

    .region_inner {
        height: 150px !important;
    }

    .form input[type="email"],
    .form input[type="password"] {
        display: none;
    }

    .form_section .form input[type="text"] {
        width: 60vw;
        transition: all 0.5s ease 0s;
    }
}

.mainimg {
    position: relative;
}

.form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    width: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form_container {
    text-align: center;
}

.form {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 16vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
}

.form input[type="submit"] {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* .region_section 스타일 수정 */
.region_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10%;
    margin-top: 7%;

}

.region_inner {
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.region {
    margin-right: 1vw;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    flex-basis: 20%;

}

.region img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}

.region span {
    position: absolute;
    line-height: 1.5em;
    font-weight: bold;

    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.regionbutton,
.lodgingbutton {
    position: relative;
    display: flex;
}

.regionbutton a,
.lodgingbutton a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regionbutton a img,
.lodgingbutton a img {
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
    background-color: #d3dadc7d;
}


/*메인페이지 이미지 보여주는 갯수 제한 지역, 숙소 */
.region:nth-child(-n+5) {
    display: block;

}

.region {
    display: none;
}

.lodging:nth-child(-n+4) {
    display: block;
}

.lodging {
    display: none;
}

/* E */

/* 추천숙소 배치 영역 S */
.selectarea {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior: none;
    gap: 6px 8px;
    flex-wrap: nowrap;
}

.selectarea>li {
    height: 32px;
    max-width: 212px;
    padding: 5px 10px;
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 600;
    flex: 0 0 auto;
    cursor: pointer;
    align-items: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 100px;
    border-width: 1.5px;
    --tw-border-opacity: 0.7;
    border-color: rgb(173, 60, 60);
    background-color: rgb(255, 255, 255);
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.selectarea li.selected {
    background-color: #3489ae82;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}

.lodging_inner {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-basis: 25%;
}

.lodging {
    width: 100%;
    margin-right: 1vw;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 12px;
    margin-bottom: 20px;
    flex-basis: 25%;
}

.lodging_img {
    width: 100%;
    height: auto;
    padding-top: 100%;
}

.lodging img {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: auto;
    inset: 1px;
    color: transparent;
}




/* 추천 숙소 배치 영역 E */

/* 추천 숙소 글꼴  S */
/* .lodging_value {
    display: flex;
    background-color: rgba(136, 136, 235, 0.042);

}

.lodging_value ul,
.lodging_value li {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.lodging_type {
    font-size: 0.9em;
    font-weight: 600;
}

.lodging_infor {
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #5a89bb;
    overflow: hidden;
}


.lodging_address {
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(144, 144, 144, 0.634);
    overflow: hidden;
}

.lodging_num {
    flex-direction: row !important;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(130, 125, 125, 0.708);
    overflow: hidden;
}

.coupon {
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 600;
    color: rgb(153 153 153 / 0.7);
}

.coupon+li {
    flex-direction: row !important;
}

.coupon_pay {
    font-size: 1.3em;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
}

.lodging_pay {
    font-size: 0.9em;
    line-height: normal;
    text-decoration: line-through;
    color: rgb(153 153 153 / 0.7);
} */
.lodging_value {
    display: grid;
    grid-template: repeat(auto-fit, (5, .4fr)) /repeat(auto-fill, (2, 1fr));
    background-color: rgba(136, 136, 235, 0.042);
    width: 100%;
    height: 18vh;
    align-items: center;
}

.lodging_type {
    grid-area: 1/1/1/1;
    font-size: 0.9em;
    font-weight: 600;

}

.lodging_infor {
    grid-area: 2/1/2/span 2;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #5a89bb;
    overflow: hidden;
}


.lodging_address {
    grid-area: 3/1/3/span 2;
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(45, 77, 137, 0.634);
    overflow: hidden;
}

.lodging_num {
    grid-area: 4/1/ 4 /span 2;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0% 0%;
    color: rgba(130, 125, 125, 0.708);
    overflow: hidden;
}

.coupon {
    grid-area: 5/1/5/span 2;
    font-size: 0.8rem;
    padding: 0 2%;
    font-weight: 700;
    color: rgba(45, 77, 137, 0.634);
}

.coupon_pay {
    margin-left: 5px;
    font-size: 1.5em;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgba(26, 65, 116, 0.741);
}

.lodging_pay {
    font-size: 1em;
    line-height: normal;
    text-decoration: line-through;
    color: rgb(153 153 153 / 0.7);
}

/* 추천 숙소 글꼴  E */
.event_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0% 10%;
    margin-top: 7%;
}

.event {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
}

.event_inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.event_inner img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event_first {
    top: 1vw;
    flex-basis: 35%;
    height: 100%;
}

.event_second {
    top: 4vw;
    flex-basis: 25%;
    height: 100%;
}

.event_third {
    top: 4vw;
    flex-basis: 25%;
    height: 100%;
}

article h3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 1.4;
    font-weight: 800;
    font-size: 1.6rem;
    word-break: keep-all;
    white-space: pre-wrap;
    overflow-wrap: normal;
}

.event_first article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    bottom: 10%;
    position: absolute;
    left: 50%;
    border-radius: 5%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255) !important;
    transition: all 0.5s ease 0s;
}

.event_inner:not(.event_first) article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 5%;
    transform: translateX(-50%);
    color: rgb(8, 8, 8) !important;
    transition: all 0.5s ease 0s;
}

.event_inner:hover article {
    bottom: 5%;
}

.event_inner:not(.event_first):hover article {
    bottom: 5%;
}

/*첫 번째 아이템에만 참여하기 버튼 생성*/
.event_inner:not(.event_first) .invite {
    display: none;
}

.event_first .invite {
    background-color: #7ba2ba7a;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    max-width: 15em;
    height: 2.5em;
    min-height: 2em;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 0.2em;
    margin-top: 10px;
    padding: 3px;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: 0.2rem;
}

.right {
    position: absolute;
    display: flex;
    right: 5%;
    top: 0;
    justify-content: center;
    align-items: center;
}

.leftbuttons,
.rightbuttons {
    position: absolute;
    background-size: 30px 30px;
    background-position: center;
    width: 28px;
    height: 28px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s, filter 0.1s;
}

.leftbuttons {
    background-image: url(../image/leftbutton.png);
    margin-right: 40px;
    transform: translateX(-20%);
}

.rightbuttons {
    background-image: url(../image/rightbutton.png);
    transform: translateX(20%);
}

.leftbuttons:focus,
.rightbuttons:focus {
    outline: none;
}

.leftbuttons:active,
.rightbuttons:active {
    transform: scale(0.9);
    filter: brightness(90%);
}

/* .event_section {
    display: block;
    padding: 1% 10%;
    margin-top: 7%;
}

.event {
    box-sizing: initial;
    display: grid;
    grid-template: repeat(5, 1fr) repeat(5, .5fr)/ repeat(3, 1fr) repeat(9, .5fr);
    position: relative;
    height: 500px;
}

.event_inner {
    border-radius: 5%;
    display: grid;
    position: relative;
}

.event_first {
    height: 100%;
    object-fit: cover;
    grid-row: 1 / span 10;
    grid-column: 1 / span 3;
    overflow: hidden;
}

.event_second {
    border-radius: 5%;
    height: 100%;
    margin-left: 5%;
    object-fit: cover;
    grid-row: 3 / -3;
    grid-column: 4 / span 4;

}

.event_third {
    border-radius: 5%;
    height: 100%;
    margin-left: 5%;
    object-fit: cover;
    grid-row: 3 / -3;
    grid-column: 8 / span 4;

}

.event_second article,
.event_third article {
    bottom: calc(100% - 100% - 40%);
    color: black;
}

figure img {
    width: 100%;
    height: 100%;
}

article {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
}

article h3 {
    display: grid;
    align-items: flex-end;
    justify-content: center;
    line-height: 1.4;
    font-weight: 800;
    font-size: 1.6rem;
    word-break: keep-all;
    white-space: pre-wrap;
    overflow-wrap: normal;
}

.event_first .invite {
    background-color: #7ba2ba9e;
    color: #ffffff;
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 15em;
    height: 2.5em;
    min-height: 2em;
    text-align: center;
    border-radius: 1em;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 0.2rem;
}

.left {
    position: relative;
    width: 100px;
    height: 30xp;
    left: 25%;
    top: 25%;
    grid-area: 1 / 12 / 1 / 12;
}



.leftbutton img {

    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
    background-color: #d3dadc7d;
}

.rightbutton img {

    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
    background-color: #d3dadc7d;
} */

/* figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
    inset: 0px;
    transform: none;
    transition: all 0.6s ease-in-out 0s;
    transform-origin: left bottom;
} */

/*호버시 추가할 효과*/
/* .event_inner18bt5rs figure::after,
.event_inner section::after {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
} */