* {
    margin: 0;
    text-decoration-line: none;
    list-style: none;
    font-family: Nanum_Gothic;
}

@font-face {
    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(./font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(./font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(./font/Nanum_Gothic/NanumGothic-Regular.ttf);

    font-family: Jua-Regular;
    src: url(./font/Jua/Jua-Regular.ttf);
}

.inline_section {
    display: inline-block;
}

main {
    height: 160vh;
    max-height: 200vh;
}


/*이승현 메인화면 미디어쿼리 적용*/

section {
    display: flex;
    justify-content: center;
    margin: auto;

}

.slider_content {
    overflow: hidden;
    position: relative;
}

.slider_content img {
    border-radius: 5px;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: clip;
    /* overflow-clip-margin: content-box; */
}

@media screen and (width > 1200px) {
    .region {
        flex-basis: 30%;
    }
}

@media screen and (width >=1300px) {
    .slider_content {
        width: 1200px;
        height: 500px;

    }
}

@media screen and (1300px > width >=1100px) {
    .slider_content {
        width: 900px;
        height: 500px;
    }

}

@media screen and (1100px > width >=900px) {
    .slider_content {
        width: 800px;
        height: 500px;

    }

    .region {
        flex-basis: 50%;
    }

    .form input[type="email"],
    .form input[type="password"] {
        display: none;
    }

    .form input[type="text"] {
        width: 50vw;
    }
}

@media screen and (900px > width >=720px) {
    .slider_content {
        width: 600px;
        height: 450px;

    }

    .form input[type="email"],
    .form input[type="password"] {
        display: none;
    }

    .form input[type="text"] {
        width: 50vw;
    }

    .region,
    .region_inner {
        flex-basis: 50%;
    }
}

@media screen and (720px > width >=500px) {
    .slider_content {
        width: 500px;
        height: 400px;

    }

    .region,
    .region_inner {
        flex-basis: 100%;
        flex-direction: column;
    }

    .form input[type="email"],
    .form input[type="password"] {
        display: none;
    }

    .form input[type="text"] {
        width: 50vw;
    }
}

.mainimg {
    position: relative;
}

.form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    width: auto;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.form_container {
    text-align: center;
}

.form {
    background-color: rgba(255, 255, 255, 0.229);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 16vw;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
}

.form input[type="submit"] {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* .region_section 스타일 수정 */
.region_section {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20%;
}

.region_inner {
    max-width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.region {
    margin-right: 1vw;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
}

.region a {
    display: block;
}

.region img {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}

.region span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.regionbutton {
    position: relative;
    top: 70px;
    right: 30px;
}

.regionbutton a img {
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50%;
    background-color: #d3dadc7d;
}


.region:nth-child(-n+4) {
    display: block;
}

.region {
    display: none;
}

.selectarea>li {
    height: 32px;
    max-width: 212px;
    padding: 5px 10px;
    font-size: 0.8rem;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 600;
    flex: 0 0 auto;
    cursor: pointer;
    align-items: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 100px;
    border-width: 1.5px;
    --tw-border-opacity: 0.7;
    border-color: rgb(173, 60, 60);
    background-color: rgb(255, 255, 255);
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.selectarea li.selected {
    background-color: #3489ae82;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}


.lodging_inner {
    width: 100%;

    display: flex;

    margin-top: 1vw;
    /* background-color: aqua; */
}



.lodging {
    margin-right: 1vw;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    flex-basis: 30%;
}

/* .lodging a {
    width: 100%;
    height: 100%;
    display: block;
} */

.lodging img {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    inset: 1px;
    color: transparent;
}

/* .lodging a div span {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.8);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
} */

.lodging_value {
    display: flex;
    margin-top: 20px;
}

.lodging_value ul,
.lodging_value li {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.lodging_value ul li:nth-child(1) {
    font-size: 0.6875rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;
}

.lodging_value ul li:nth-child(2) {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    color: rgb(51 51 51 / var(--tw-text-opacity));
    overflow: hidden;
}


.lodging_value ul li:nth-child(3) {
    font-size: 0.8125rem;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgb(153 153 153 / 0.7);
    overflow: hidden;
}

.lodging_value ul li:nth-child(4) {
    display: inline-block;
    font-size: 0.8125rem;
    letter-spacing: 0px;
    font-weight: 500;
    color: rgb(112 112 112 / 0.7);
}

.lodging_value ul li:nth-child(5) {
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 600;

    color: rgb(153 153 153 / 0.7);
}


.lodging_value ul li:nth-child(6) {
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 0px;
    font-weight: 700;
}




.product_img {
    position: relative;
    margin-right: 20px;
}

.infor_aa {
    display: flex;
    gap: 110px;
}

.infor_sl {
    font-size: 14px;
    border-left: 1px solid gray;
    padding-left: 10px;
}

.infor_price {
    font-size: 18px;
    font-weight: bold;
}

.product_a {
    display: inline-block;
    vertical-align: top;
}


.product_infor span+div {
    font-size: 10px;
}