* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: auto;
}

/* 리뷰정보 */
.review_title {
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
}

.hotel_star {
    align-content: center;
}

.hotel_star img,
.review_star img,
.review_design img,
.review_img_size img {
    width: 24px;
    margin-bottom: -7px;
}

/* 리뷰상세 */

.review_design {
    width: 100%;
    height: auto;
    border-radius: 30px;

    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.review_username {
    flex: 1;

    display: -webkit-inline-box;
}

.review_username>div {
    margin-left: 10px;
}

.review_content {
    flex: 3;
    align-content: center;
}

.review_star {
    margin-bottom: 15px;
}

.review_star img {
    width: 20px;
}

.review_date {
    float: right;
    font-size: 14px;
}

.review_img {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
}

.review_img_size {
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

.review_img_size img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review_room {
    margin: 10px;
    color: gray;
    font-size: 14px;
}

.review_text {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}

.review_text p {
    width: 100%;
    height: 130px;
    white-space: pre-line;
    overflow: auto;
    padding: 10px;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    letter-spacing: 10px;
    margin-top: 50px;
}

.pagination>a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.pagination img {
    width: 18px;
    margin-bottom: -4px;
}

/* 탑버튼 */
.top_btn {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.top_btn img {
    width: 30px;
    height: 30px;
}