* {
    margin: 0;
    padding: 0;
    font-family: Nanum_Gothic_bold;
    scroll-behavior: smooth;
    text-decoration: none;
}

@font-face {
    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

main {
    max-width: 1200px;
    margin: auto;
}

/* 리뷰정보 */
.review_title {
    /* display: flex; */
    margin-top: 50px;
    margin-bottom: 25px;
}

.review_title .left_area {
    display: flex;
    float: left;
}

.review_title .left_area {
    align-content: center;
}

.review_title .right_area {
    float: right;
}

.left_area img,
.review_star img,
.review_design img,
.review_img_size img {
    width: 24px;
    margin-bottom: -7px;
}

.review_btn {
    border: none;
    background-color: white;
}

.review_btn>img {
    width: 20px;
}

.review_btn>span {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

/* 리뷰상세 */
.review_design {
    width: 100%;
    height: auto;
    border-radius: 30px;

    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.review_username {
    width: 25%;

    display: -webkit-inline-box;
}

.review_username>div {
    margin-left: 10px;
}

.review_content {
    width: 75%;
    align-content: center;
}

.review_star {
    margin-bottom: 15px;
}

.review_star img {
    width: 20px;
}

.review_date {
    float: right;
    font-size: 14px;
}

.review_img {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
}

.review_img_size {
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
}

.review_img_size img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.review_room {
    margin: 10px;
    color: gray;
    font-size: 14px;
}

.review_text {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}

.review_text p {
    width: 100%;
    height: 130px;
    white-space: pre-line;
    overflow: auto;
    padding: 10px;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    letter-spacing: 10px;
    margin-top: 50px;
}

.pagination>a {
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.pagination img {
    width: 18px;
    margin-bottom: -4px;
}

/* 탑버튼 */
.top_btn {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.top_btn img {
    width: 30px;
    height: 30px;
}