* {
    margin: 0;
    text-decoration-line: none;
    list-style: none;
}

@font-face {

    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);

    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

/* ==================================================== */
/* 로그인 */

.login_bg {
    display: flex;
    justify-content: center;    /* 수평 중앙 정렬 */
    align-items: center;        /* 수직 중앙 정렬 */
    height: 100vh;              /* 화면 전체 높이 */
    margin: auto;
    text-align: center;
}

.login_bg::before {
    content: "";
    background: url(../image/남산1.jpg) no-repeat 0/cover;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.login_form ,
.login_form>form>div {
    /* border: none; */
    border-radius: 5px;
    display: inline-block;
}

.login_form {
    padding: 20px;
    border: none;
    background-color: white;
    width: 400px;               /* 로그인 기본 크기 */
    opacity: .8;
}

.login_form input{
    margin: 10px;
    width: 260px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: lightgray;
    font-family: Nanum_Gothic;
}

.login_form button {
    display: inline-block;
    width: 120px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkgrey;
    font-size: large;
    font-family: Jua-Regular;
}

.login_form button:hover {
    background-color: blue;
    color: white;
}

.login_title {
    font-family: Nanum_Gothic_ExtraBold;
    font-size: 30px;
}

.login_form>form>div>a {
    font-size: medium;
}
.login_form>form>div>a:hover {
    font-weight: 800;
    color: black;
}

.login_form .button_fix {
    flex: auto;
}

.button_fix .find {
    width: 265px;
}

/* ==================================================== */
/* 마이페이지 */

.mypage_main_box {
    height: 100vh;
}

.mypage_main {
    display: flex;
    height: 90vh;
    width: 80vw;
    flex-direction: column;
    text-align: center;
}

.mygate_title {
    flex-basis: 20%;
}

.mygate_body {
    flex-basis: 80%;

    display: flex;
    flex-direction: row;
}

.mypage_left_menu {
    flex-basis: 20%;
}

.mypage_right_main {
    flex: 1;
}

.mypage_left_menu ul {
    margin-top: 10vh;
    background-color: aqua;
}

.mypage_left_menu li {
    display: flex;
    justify-content: center;

}

.mypage_left_menu a {
    flex: 1;
    line-height: 60px;
}

.mypage_right_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    justify-content: center;
    
}

.sum_title {
    grid-area: 1 / 1 / 2 / 3;
}

































/* 
.mypage_main {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 5vh 10vh;
    width: 100vw;
    height: 160vh;
    grid-template: 1fr .5fr repeat(8, 1fr) / 2fr .5fr 3.5fr .5fr 3.5fr;
    
}

.mygate_title {
    grid-area: 1 / 1 / 2 / 6;
    background-color: lightseagreen;
}

.mypage_left_menu {
    grid-area: 3 / 1 / 6 / 2;
    background-color: lightblue;
}

.mypage_right_main {
    grid-area: 3 / 3 / -1 / 6;
    background-color: darkgrey;
}

.sum_title {
    grid-area: 2 / 3 / 3 / 4;

} */




/* 좌측 메뉴목록 */
/* .mypage_left_menu {
    background-color: skyblue;
    display: flex;
    width: 20%;
    border: 1px solid;
} */


/* 메인 내용 */
/* .mypage_right_main {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid;
}

.mypage_right_main h1 {
    min-width:450px;
    width: 40vw;
    margin-bottom: 4vh;
    padding:0 2vw;
    margin: 2vh;
    text-align: left;
} */
