* {
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    list-style: none;
}

@font-face {

    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);

    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

/* ==================================================== */
/* 로그인 */

.login_index {
    display: grid;
    grid-template: repeat(4, .5fr) / 1fr 3fr;
    width: 400px;
    align-items: center;
    border-top: 2px solid rgb(177, 190, 213);
    border-bottom: 2px solid rgb(177, 190, 213);
    margin: 20px 0;
}

.login_index>div:nth-of-type(even) {
    justify-items: left;
}


/* ==================================================== */
/* 회원가입 */

.login_bg {
    display: flex;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: right;
}

.login_bg::before {
    content: "";
    background: url(../image/제주도_천국.png) no-repeat 0/cover;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.login_form,
.login_form>div {
    border-radius: 5px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 700px;

    border: none;
    box-sizing: border-box;
    padding: 5px;
    background-color: white;
    opacity: .8;
}

.login_form input {
    width: 160px;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid rgb(177, 190, 213);
    border-radius: 10px;
    color: black;
    background-color: rgb(223, 223, 223, 0.3);
    font-family: Nanum_Gothic;
}

.login_info {
    display: grid;
    grid-template: repeat(9, .5fr) / 1fr 3fr;
    align-items: center;
    border-top: 2px solid rgb(177, 190, 213);
    border-bottom: 2px solid rgb(177, 190, 213);
    margin: 20px 0;
    width: 600px;
}

.login_info>.mail {
    grid-area: 6/1/7/2;
}

.mail_add {
    height: 100%;
    line-height: 100%;
}

.mail_add>i {
    display: inline;
    height: 100%;
    align-content: center;
}

.login_info .add_dtl {
    width: 300px;
}

.login_form button {
    width: 90px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(177, 190, 213);
    border-radius: 5px;
    background-color: rgb(223, 223, 223, 0.7);
    font-size: large;
    font-family: Jua-Regular;
}

.login_info>div:nth-of-type(even) {
    display: flex;
    justify-content: left;
}

.login_form button:hover {
    background-color: rgb(177, 190, 213, 0.7);
    text-shadow: 1px 1px 1px silver;
    transform: scale(110%);
    transition: 0.2s;
    cursor: pointer;
}

.login_title {
    font-family: Nanum_Gothic_ExtraBold;
    height: 10%;
}

.login_title h1 {
    height: 100%;
    align-content: center;
}

.sign_btn>div>a {
    font-size: medium;
    color: rgb(134, 133, 133);
}

.sign_btn>div>a:hover {
    font-weight: 800;
    color: black;
}

.login_form .button_fix {
    flex: auto;
}

.button_fix>div>.find {
    width: 205px;
}

.login_form .id_pw_find>a {
    font-size: medium;
    color: rgb(134, 133, 133);
}

.login_form .id_pw_find>a:hover {
    font-weight: 800;
    color: black;
}


/* ==================================================== */
/* 마이페이지 */

.mypage_main {
    display: flex;
    width: 80vw;
    flex-direction: column;
    text-align: center;
}

.mypage_title {
    height: 10vh;
    align-content: center;
}

.mypage_body {
    flex-basis: 80%;
    display: flex;
}

.mypage_left_menu {
    flex-basis: 20%;
}

.mypage_left_menu ul {
    width: 10vw;
    margin-top: 10vh;
}

.mypage_left_menu li {
    display: flex;
    justify-content: center;
}

.mypage_left_menu a {
    flex: 1;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(164, 178, 192, 0.142);
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

.mypage_left_menu a:hover {
    background-color: rgba(169, 198, 227, 0.26);
    text-shadow: 1px 1px 2px rgb(19, 19, 19);
    transition: 0.3s;
    transform: scale(120%, 120%);
}

.mypage_right_main {
    flex: 1;
    display: grid;
    min-width: 800px;
    grid-template: repeat(10, 3fr) 4fr / 1fr 3fr;
    padding: 2vw;
    align-items: center;
}

.mypage_right_main div {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.mypage_right_main>div:nth-of-type(-n + 2) {
    border-top: 2px solid rgba(85, 83, 83, 0.768);
}

.mypage_right_main input {
    width: 15vw;
    min-width: 200px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: 0.5px solid rgb(177, 190, 213);
    border-radius: 10px;
    color: black;
    background-color: rgb(223, 223, 223, 0.3);
    font-family: Nanum_Gothic;
}

.mail_add select {
    width: 10vw;
    min-width: 100px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(169, 198, 227, 0.26);
}

.mypage_right_main div:nth-child(even) {
    justify-content: center;
}

.sum_title {
    text-align: initial;
    grid-area: 1 / 1 / 2 / 3;
    padding-left: 2vw;
    margin: 2vh;
}

.mypage_right_main_bottom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80px;
    line-height: 30px;
    border: 1px solid rgba(169, 198, 227, 0.26);
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
    transition: 0.2s;
}

.mypage_right_main_bottom:hover {
    background-color: rgba(169, 198, 227, 0.26);
    text-shadow: 1px 1px 1px silver;
    transform: scale(110%);
    transition: 0.2s;
    cursor: pointer;
}

.mail {
    grid-area: 3/1/4/2;
}

input[class="add_input"] {
    width: 5vw;
}

input[class="add_dtl"] {
    width: 30vw;
}

.mypage_right_main .mypage_button {
    width: 100%;
    grid-area: 11/1/12/3;
    gap: 70%;
    border: none;
}

/* .mylike_list_body .mylike_button {
    width: 100%;
    grid-area: 4/1/5/3;
} */

.mypage_button button {
    width: 90px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(177, 190, 213);
    border-radius: 5px;
    background-color: rgb(223, 223, 223, 0.7);
    font-size: large;
    font-family: Jua-Regular;
}

.mypage_button button:hover {
    background-color: rgb(177, 190, 213, 0.7);
    text-shadow: 1px 1px 1px silver;
    transform: scale(110%);
    transition: 0.2s;
    cursor: pointer;
}

/* ====================================================== */
/* 찜목록 */
.mylike_list_body {
    display: grid;
    gap: 20px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

/* 숙소 명 */
.mylike_bold {
    font-weight: 800;
    font-size: 1.2em;
}

.font_red {
    color: red;
    text-align: right;
}

.font_cancel {
    text-decoration: line-through;
}

.mylike_list_body>div>div>span {
    margin-top: 10px;
}

.mylike_list_body p {
    justify-self: flex-end;

}

/* 숙소 이미지 크기 */
.mylike_img img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mylike_img a {
    /* flex: 1; */
    width: 100%;
    height: 220px;
}

.mylike_list_body>div {
    display: flex;
    border: 1px solid silver;
    border-radius: 10px;
}

.mylike_list_body>div:hover {
    box-shadow: 2px 2px 6px black;
    transform: scale(110%);

}

.mylike_list_body>div>div {
    padding: 5px;

}


.mylike_list_body>div>div:nth-of-type(odd) {
    flex-basis: 60%;
    display: flex;
}

.mylike_list_body>div>div:nth-of-type(even) {
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    text-align: left;
    font-size: 1em;
    justify-content: space-between;
}

/* =================================================== */
/* 예약목록 */

.empty_box {
    height: 30vh;
}

.mypage_reserve {
    display: flex;
    max-width: 1800px;
    justify-content: center;
    max-height: 160vh;
    margin-top: 9vw;
}

.tabs {
    display: block;
    min-width: 500px;
    max-width: 1100px;
    margin: 0 auto;
}

.tabs>input:nth-child(-n+4) {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
}

.reserved_tab {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reserved_tab>li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: rgb(173, 167, 167);
    width: 110px;
    padding: 15px 5px;
    background: #ffffff;
    cursor: pointer;
    line-height: 18px;
}

#tab1:checked~ul li:nth-child(1),
#tab2:checked~ul li:nth-child(2),
#tab3:checked~ul li:nth-child(3),
#tab4:checked~ul li:nth-child(4) {
    border-bottom: 3px solid rgb(54, 130, 243);
    color: rgb(54, 130, 243);
}

.tabs label {
    display: block;
    padding: 0;
    cursor: pointer;
}

.tabs input:checked+label {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tabs section {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

input#tab1:checked~.mypage_body>.container section:nth-child(1),
input#tab2:checked~.mypage_body>.container section:nth-child(2),
input#tab3:checked~.mypage_body>.container section:nth-child(3),
input#tab4:checked~.mypage_body>.container section:nth-child(4) {
    display: block;
}

.container {
    position: relative;
    width: 60vw;
    height: 700px;
    flex-direction: column;
    padding: 20px;
}

.reservation {
    display: flex;
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.121);
}

/* section {
    flex: 1;
} */

.image {
    flex-basis: 25%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    object-fit: cover;
}

.info {
    flex: 2;
    padding: 20px;
}

.info h2 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
}

.info p {
    margin-top: 5px;
    font-size: 0.9em;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    background-color: rgb(177 190 213 / 60%);
    color: #fff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(177 190 213 / 80%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 예약내역 상세페이지 S */
.container_detail {
    flex: 1;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve_detail {
    display: grid;
    grid-template: repeat(10, .5fr)/repeat(4, .5fr);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.121);
    position: relative;
    align-items: center;
    width: 50vw;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
}


.reserve_detail_img {
    grid-area: 1/1/span 4/span 2;
    width: 100%;
    height: 100%;
    border-radius: 5px
}

.reserve_detail_img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.121);
    background-color: #fff;
    border-radius: 10px;
}

.hotelinfo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.049);
    grid-area: 5/1/5/span 2;
    padding: 10px;
    background-color: rgba(177, 190, 213, 0.233);
}

.hotelname {
    grid-area: 6/1/6/span 2;
}

.roomname {
    grid-area: 7/1/7/span 2;
}

.hoteladdress {
    grid-area: 8/1/8/span 2;
}

.reserve_tag {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.049);
    grid-area: 1/3/1/span 2;
    padding: 10px;
    background-color: rgba(177, 190, 213, 0.233);

}

.reserve_name {
    grid-area: 2/3/2/span 2;
}

.reserve_person {
    grid-area: 3/3/3/span 2;
}

.reserve_date {
    grid-area: 4/3/4/span 2;
}

.reserve_phone {
    grid-area: 5/3/5/span 2;
}

.reserve_mail {
    grid-area: 6/3/6/span 2;
}

.reserve_payment {
    grid-area: 7/3/7/span 2;

}

.reserve_purchase {
    grid-area: 8/3/8/span 2;
}

.ser {
    grid-area: 6/1/span 2 /1;
}

.hotelname,
.roomname,
.hoteladdress,
.reserve_name,
.reserve_person,
.reserve_date,
.reserve_phone,
.reserve_mail,
.reserve_payment,
.reserve_purchase {
    display: grid;
    grid-template-columns: .5fr .5fr;
    border-bottom: solid rgba(0, 0, 0, 0.041);
}

.hotelname p:first-child,
.roomname p:first-child,
.reserve_name p:first-child,
.hoteladdress p:first-child,
.reserve_person p:first-child,
.reserve_date p:first-child,
.reserve_phone p:first-child,
.reserve_mail p:first-child,
.reserve_payment p:first-child,
.reserve_purchase p:first-child {
    font-weight: bold;
    padding: 10px;

}

.reserve_purchase span {
    color: red;
    font-size: 24px;
    font-weight: bold;

}

.reserve_cancel {
    grid-row: 10;
    grid-column: 3 / span 2;
    text-align: center;
}

.reserve_cancel a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(63, 120, 181, 0.619);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.reserve_cancel a:hover {
    background-color: rgb(135, 206, 250);
}

/* 예약내역 상세페이지 E */