*{
    padding: 0px;
    margin: 0ch;
    list-style: none;
    font-family: Nanum_Gothic_bold;
    scroll-behavior: smooth;
}

@font-face {

    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

/*header css S*/
header li,
header a,
header button {
    font: Nanum_Gothic_Bold;
    font-size: 16px;
    color: rgba(32, 50, 56, 0.774);
    text-decoration: none;
}

header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 30px 10%;
    background-color: rgba(164, 178, 192, 0.142);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

header button {
    margin-left: 20px;
    padding: 7px 7px;
    /* background-color: rgba(61, 173, 201, 0.732); */
    background-color: #3489ae82;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

/*header css E*/



/*footer css S*/

footer {
    display: inline-block;
    width: 100%;
    margin: auto;
    background-color: rgba(164, 178, 192, 0.142);
}

.footer,
.Copyright {
    font: Nanum_Gothic_Bold;
    margin-bottom: 32px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}

/* footer css E*/


/* ======================================== */
/* 전체적인 페이지 구성. */
.side_bar_all{
    display: flex;
    justify-content: center;
    /* background-image: url(../image/보드바.png); */
}

.left_side_bar, .right_side_bar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10vw;
}
/* 가운데 메인 화면 */
.customer_box, .onetoone, .notice , .notice_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10vh;
    width: 50vw;
    min-width: 600px;
    
    text-align: center;
}

/* ================================== */
/* 양쪽 사이드 바에 대한 포지션과 , 사이즈 조절. */
.left_side_bar ul{
    height: 150px;
    
    position: fixed;
    top:30vh;
    
    text-align: center;
    /* z-index: 1; */
}

.right_side_bar_box{
    width: 10vw;

    text-align: center;

    position: fixed;
    top:30vh;
    /* z-index: 1; */
}

/* 왼쪽 사이드 바에 대한 설정 */

.left_side_bar a {
    display: block;
    width: 10vw;
    line-height: 50px;

    text-decoration: none;
    color: black;
    background-color: rgb(164, 178, 192, 0.142);
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    border-radius: 5px;
}

.left_side_bar a:not(a:hover){
    opacity: 0.7;
}

/* 오른쪽 사이드 바에대한 설정 */

.right_side_bar_box div{
    padding: 1vh;
    
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    border-radius: 5px;
    background-color: rgb(164, 178, 192, 0.142);

}
.right_side_bar_box div:nth-last-child(1){
    white-space: pre-line;
}
.right_side_bar_box div:nth-of-type(even){
    line-height: 25px;
    color: rgb(97, 97, 97);
    font-size: 14px;
    opacity: 0.8;
}

/* ================================================ */

/* 화면 제목 , 설명글 통합 */

.customer_bar p, .onetoone p, .notice p{
    white-space: pre;
    opacity: 0.8;
    text-indent: 30px;
    text-align: initial;
    margin: 2vh;
}

.onetoone h3, .onetoone h1, .customer_bar h1, .notice h1{
    padding:0 2vw;
    margin: 2vh;
    text-align: left;
}
.onetoone h3:nth-of-type(1){
    margin-top: 0;
}

.onetoone_bar, .customer_bar, .notice_bar{
    min-width:450px;
    width: 40vw;
    margin-bottom: 4vh;
    /* white-space: pre-line; */
}


/* main customer_box */
/* 1. customer_bar 2. asked Question 3. Question_all */

/*================================================= */
/* 1.customer_bar 고객센터 상단 설명 , 박스 */




.customer_bar div:nth-of-type(2){
    
    min-width:450px;
    width: 30vw;
    height: 10vh;
    
    border: 1px solid silver;
    border-radius: 10px;
    background-color: rgb(164, 178, 192, 0.142);
    
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4vh 0;
}
.customer_bar a{
    width: 100px;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    font-size: 110%;
    
    background-color: rgb(164, 178, 192, 0.2);
    border: 1px solid rgba(192, 192, 192, 0.629);
    border-radius: 5px;
    color: rgb(12, 12, 11);
    
    text-decoration: none;
}

.customer_bar a span{
    display: none;
}
.customer_bar a:hover span{
    display: inline;
}


.customer_bar a::before{
    display: inline;
    content: "\f4ad";
    font:var(--fa-font-solid);
    font-size: 120%;
}

.customer_bar .callme::before{
    content: "\f095";
    font:var(--fa-font-solid);

    
}

/* asked Question 3가지 라벨 박스 */

.askedQuestion {
    display: flex;
    min-width: 450px;
    width: 30vw;
    /* height: 5vh; */
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vh;
}

.askedQuestion label{
    min-width: 120px;
    height: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(169, 198, 227, 0.26);
    
    border-radius: 10px;
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    
}

.askedQuestion label:hover{
    height: 120%;
}
.askedQuestion label:hover,
.customer_bar a:hover{
    background-color: rgba(169, 198, 227, 0.834) ;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

/*QNA 완성*/
.question_all{
    width: 40vw;
    min-width: 450px;

    text-align: left;

}
.question_1 div , .question_2 div , .question_3 div{
    margin: 1vh;
    padding: 1vw;

    white-space: pre-line;
    background-color:  rgba(164, 178, 192, 0.089);
}
.question_1,.question_2, .question_3,
.question_1 div, .question_2 div, .question_3 div{
    display: none;
}

input[type="radio"]:checked +div,
input[type="checkbox"]:checked+label+div {
    display: block;
}

.customer_box input{
    display: none;
}
.question_all label {
    display: block;
    height: 5vh;
    line-height: 5vh;
    
    margin: 2vh 0;
    
    border-bottom: solid 1px silver;
}

.question_all label:hover{
    cursor: pointer;
    font-weight: 700;

}

.question_all label::before{
    content: "\51 . ";
    font:var(--fa-font-solid);
}


/* 여백의 빈박스 */
.empty_box{
    height: 30vh;
}

/*=============================*/

/*1:1 문의의 사이즈 조절, 폰트 배열 조절*/

.onetoone form{
    width: 40vw;
    min-width: 450px;

    margin-bottom: 20px;
    
    font-size: 18px;  
    text-align: initial;
}

/* .onetoone table{
        display: block;
 } */



.onetoone th{
    width: 100px;
    
    font-weight: 400;
    text-align: center;
    /* background-color: brown; */
}
.onetoone td{
    padding: 1vh 0;
}

.onetoone label{
    font-size: 18px;
    opacity: 0.8;
}


.onetoone input[id="one_content"]{
    white-space: pre;
    overflow: auto;
}
.onetoone input:not([type="radio"]) ,
.onetoone select{
    height: 40px;
    width: 15vw;
    min-width: 300px;
    
    font-size: 17px;
    border: 0.5px solid;
    border-radius: 5px;
}
/* input[id="one_named"]{
    width: 30vw;
    min-width: 400px
} */


.onetoone input[id*="phone"]{
    width: 4vw;
    min-width: 60px;
}

.onetoone input[type="radio"]{
    height: 20px;
    width: 20px;
}

.onetoone button{
    display: inline-block;
    height: 30px;
    width: 80px;
    
    line-height: 30px;
    position: relative;
    left: 10vw;
}

/* ======================================= */
.notice_search{
    display: flex;
    justify-content: end;
    
    height: 50px;
    width: 40vw;
    min-width: 450px;
    line-height: 50px;
    padding: 0 2vh;
    margin-bottom: 2vh;

    background-color: rgb(164, 178, 192, 0.142);
    border-radius: 5px;
}
.notice_search select{
    height: 25px;
    width: 60px;
    
    text-align: center;
}
.notice_search input{
    height: 25px;   
    width: 200px;
}

.notice button{
    height: 25px;
    width: 50px;
    
    color: white;
    background-color: rgba(76, 75, 75, 0.623);
}


.notice_list{
    min-width: 500px;
}

.notice_list ul ul{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    width: 45vw;
    height: 6vh;
    line-height: 6vh;
    
    text-align: center;
    border-bottom: 0.5px solid silver;
}


.notice_list li {
    display: flex;
    justify-content: center;

} 
.notice_list a{
    flex: 1;
    text-decoration: none;
    color: black;

}

.notice_list>ul>li:hover{
    background-color:  rgb(164, 178, 192, 0.142);
}

.notice_page{
    padding: 2vh;
}
.notice_page a {
    line-height: 20px;
    margin: 1vh;
    
    text-decoration: none;
    color: brown;
}
.notice_page img{
    height: 15px;
}

.notice_page a:nth-last-of-type(1) img{
    transform: rotate(180deg);
}

/* ==================================== */
/*  공지사항 상세페이지 */

.sevice_content_bar{
    width: 40vw;
    height: 40px;

    text-align: left;
}

.sevice_content_bar img{
    width: 40px;
}

.notice_page a:not(:first-child):not(:last-child)[href="#"]{
    text-decoration: underline;
    font-weight: 700;
}

.sevice_content_box{
    margin: 4vh;
}

.sevice_content_box ul {
    min-width: 500px;
    width: 40vw;

}
.sevice_content_box li:nth-of-type(1) {
    border-bottom: 0.5px solid silver;
}
.sevice_content_box p {
    margin: 1vh;

    text-align: initial;
    white-space: pre-line;
}
.content_title h2{
    margin: 2vh 0;
}
.content_title p{
    size: 12px;
    opacity: 0.7;
}

