*{
    padding: 0px;
    margin: 0ch;
    list-style: none;
    font-family: Nanum_Gothic_bold;
    scroll-behavior: smooth;
}

@font-face {

    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}
header {

    height: 7vh;
    width: 100%;
    background-color: rgba(164, 178, 192, 0.142);
}

.headlogo {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: inline-block;
    width: 100%;
    margin: auto;
    background-color: rgba(164, 178, 192, 0.142);
}

.footer,
.Copyright {
    margin-bottom: 32px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}


/* ======================================== */
/* 전체적인 페이지 구성. */
.side_bar_all{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.left_side_bar{
    display: flex;
    width: 15vw;
    justify-content: center;
}
/* 가운데 메인 화면 */
.customer_box, .onetoone, .notice {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 600px;
    text-align: center;
    margin-top: 10vh;
}
/* .customer_box, .onetoone, .notice {
    display: inline-block;
    width: 50vw;
    min-width: 600px;
    text-align: center;
    margin-top: 10vh;
} */
.right_side_bar{
    display: flex;
    width: 15vw;
    justify-content: center;
}

/* ================================== */
/* 양쪽 사이드 바에 대한 포지션과 , 사이즈 조절. */
.left_side_bar ul{
    /* width: 20vw;
    max-width: 300px; */
    height: 150px;
    position: sticky;
    top:30vh;
    text-align: center;
    
}

.right_side_bar .right_side_bar_box{
    width: 15vw;
    max-width: 300px;
    height: 400px;
    /* background-color: antiquewhite; */
    position: sticky;
    top:30vh;
    text-align: center;
    
}

/* 왼쪽 사이드 바에 대한 설정 */

.left_side_bar a {
    display: inline-block;
    text-decoration: none;
    width: 15vw;
    max-width: 300px;
    height: 50px;
    line-height: 50px;
    color: black;
    background-color: rgb(164, 178, 192, 0.142);
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    border-radius: 5px;
}

.left_side_bar a:not(a:hover){
    opacity: 0.7;
}

/* 오른쪽 사이드 바에대한 설정 */

.right_side_bar_box div{
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    border-radius: 5px;
    background-color: rgb(164, 178, 192, 0.142);
    line-height: 40px;

}
.right_side_bar_box div:nth-last-child(1){
    white-space: pre-line;
    line-height: 30px;
}
.right_side_bar_box div:nth-of-type(even){
    opacity: 0.8;
    color: rgb(97, 97, 97);
    font-size: 95%;
}

/* ================================================ */

/* 화면 제목 , 설명글 통합 */

.customer_bar p, .onetoone p, .notice p{
    /* align-self: start; */
    white-space: pre;
    /* padding: 0 2vw; */
    opacity: 0.8;
    text-indent: 30px;
    text-align: initial;
    margin: 2vh;
}

.onetoone h3, .onetoone h1, .customer_bar h1, .notice h1{
    /* margin: 20px; */
    /* align-self: start; */
    /* width: 45vw; */
    border-radius: 10px;
    padding:0 2vw;
    /* text-align: initial; */
    /* margin: 4vw; */
    margin: 2vh;
}
.onetoone h3{
    background-color: rgba(250, 235, 215, 0.278);
    width: 20vw;
}

/* main customer_box */
/* 1. customer_bar 2. asked Question 3. Question_all */

/*================================================= */
/* 1.customer_bar 고객센터 상단 설명 , 박스 */


.customer_bar div{
    margin-bottom: 4vw;
    
}


.customer_bar div:nth-of-type(2){
    display: inline-flex;
    min-width:450px;
    width: 30vw;
    height: 10vh;
    line-height: 10vh;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: rgb(164, 178, 192, 0.142);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.customer_bar a{
    background-color: rgb(164, 178, 192, 0.2);
    border: 1px solid rgba(192, 192, 192, 0.629);
    border-radius: 5px;
    color: rgb(12, 12, 11);
}

.customer_bar span , .customer_bar a{
    display: inline-block;
    width: 120px;
    height: 5vh;
    line-height: 5vh;
    text-indent: initial;
    font-size: 110%;
    text-decoration: none;
    /* color: black; */
}

.customer_bar span::before{
    display: inline-block;
    content: "\f095";
    font:var(--fa-font-solid);
}

/* asked Question 3가지 라벨 박스 */

.askedQuestion {
    display: inline-block;
    min-width: 450px;
    width: 30vw;
    height: 5vh;
    line-height: 5vh;
    margin-bottom: 2vh;
}
.askedQuestion label{
    display: inline-block;
    width: 9vw;
    min-width: 120px;
    height: 5vh;
    background-color: rgba(169, 198, 227, 0.26);
    border-radius: 10px;
    border: 0.5px solid rgba(216, 216, 216, 0.484);
    
}
.askedQuestion label:hover,
.customer_bar a:hover{
    background-color: rgba(169, 198, 227, 0.834) ;
    color: white;
    cursor: pointer;
}
/*QNA 완성*/
.question_all{
    display: inline-block;
    width: 40vw;
    min-width: 450px;
    text-align: left;

}
.question_1 div , .question_2 div , .question_3 div{
    display: inline-block;
    width: 40vw;
    min-width: 450px;
    height: auto;
    margin: 5px;
    /* background-color: aquamarine; */
    white-space: pre-line;
    background-color:  rgba(164, 178, 192, 0.089);
    padding: 5px;
}
.question_1,.question_2, .question_3,
.question_1 div, .question_2 div, .question_3 div{
    display: none;
}

input[type="radio"]:checked +div,
input[type="checkbox"]:checked+label+div {
    display: block;
}

.customer_box input{
    display: none;
}
.question_all label {
    display: inline-block;
    width: 40vw;
    min-width: 450px;
    height: 5vh;
    line-height: 5vh;
    margin: 10px 0;
    border-bottom: solid 1px silver;
    cursor: pointer;
    /* background-color: antiquewhite; */
}

.question_all label::before{
    content: "\51 . ";
    font:var(--fa-font-solid);
}


/*=============================*/

/*1:1 문의의 사이즈 조절, 폰트 배열 조절*/
.onetoone{
    /* margin: 2vh;
    margin-top: 20px; */
    margin-top: 10vh;
    text-align: center
}
.onetoone form{
    display: inline-block;
    width: 40vw;
    min-width: 500px;
    font-size: 18px;  
    text-align: initial;
}
.onetoone table{
    height: 300px;
    min-height: 300px;
}
.onetoone ul{
 width: 40vw;
}
.onetoone li{
    height: 40px;
    
    text-indent: 2vw;
}
.onetoone th{
    width: 100px;
    font-weight: 400;
    text-align: center;
}
.onetoone td,th{
    vertical-align: middle;
    padding-bottom: 1.5vh;
}

.onetoone label{
    opacity: 0.8;
    font-size: 18px;
    /* padding-left: 15px; */
}


.onetoone input[id="one_content"]{
    overflow: auto;
    /* text-align: initial; */
    white-space: pre;
    opacity: 0.7;
}
.onetoone input ,
.onetoone select{
    font-size: 17px;
    width: 300px;
    height: 30px;
}
input[id="one_named"]{
    width: 300px;
}

.onetoone input[id*="phone"]{
    width: 60px;
}

.onetoone input[type="radio"]{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.onetoone button{
    display: flex;
    position: relative;
    left: 500px;;
    width: 80px;
    height: 30px;
    margin: 20px;
    line-height: 30px;
    justify-content: center;
}