/* header */
header li,
header a,
header button {
    font: Nanum_Gothic_Bold;
    font-size: 16px;
    color: rgba(32, 50, 56, 0.774);
    text-decoration: none;
}

header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 30px 10%;
    background-color: rgba(164, 178, 192, 0.142);
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

header button {
    margin-left: 20px;
    padding: 7px 7px;
    /* background-color: rgba(61, 173, 201, 0.732); */
    background-color: #3489ae82;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

/* 객실 검색 상단바 */
.nav_1 {
    /* height: 15px; */
}

.search_bar {
    /* height: 20%; */
    display: flex;
    /* width: 1200px; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    /* padding-top: 10px; */
    top: 0;
    background-color: white;
    height: 10vh;
}

/* main */
/* 상단 이미지 */
.main_screen {
    max-width: 1200px;
    margin: auto;
}

.name_details {
    display: flex;
    margin-top: -20px;
}

.main_img_area {
    height: 440px;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

.main_img_large {
    min-width: 445px;
    height: 100%;
    cursor: pointer;
    grid-row: span 2 / span 2;
    position: relative;
}

.main_img_large img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.main_img_small {
    min-width: 185.5px;
    height: 100%;
    cursor: pointer;
    grid-row: span 1 / span 1;
    position: relative;
}

.main_img_small:nth-child(4) img {
    border-top-right-radius: 8px;
}

.main_img_small:nth-child(5) img {
    border-bottom-right-radius: 8px;
}

.main_img_area img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_img_area img:hover {
    opacity: 50%;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 500ms;
}

/* 정보 네이게이션(위치이동) */
.nav_2 {
    /* margin: 0;
    padding: 0; */
    width: 800px;
    height: 40px;
    text-align: center;
    background-color: rgba(164, 178, 192, 0.142);
}

.nav_3 {
    list-style: none;
    display: flex;
}

.nav_3 li {
    flex: 1;
    /* justify-content: space-evenly; */
    line-height: 40px;
}

/* article */
.information {
    display: flex;
    flex-wrap: wrap;
}

/* 호텔 소개(정보) */
.hotel_information {
    width: 800px;
    white-space: pre-line;
    font-size: 12px;
}

/* 위치 */
.map {
    flex-direction: column;
    /* justify-content: center; */
}

.map_image {
    background: url(../image/location_shilla.png) 0/100% 100%;
    width: 350px;
    height: 200px;

    /* position: relative; */
    /* display: flex; */
}

.map_location1 {
    list-style: none;
    position: absolute;
    /* left: calc(100% + 50px); */
    /* display: flex; */
    margin-top: 200px;
    margin-left: -45px;
}

/* .map_location1 {
    list-style: none;
    position: absolute;
    left: calc(100% + 50px);
    display: flex;
} */

.map_location2 {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* line-height: normal; */
}

/* 시설 및 서비스 */

/* 객실 */
.room_type {
    /* display: flex; */
    background-color: rgba(164, 178, 192, 0.142);
    padding: 20px;
    margin: 40px 0;
    box-sizing: border-box;
    /* border: solid; */
    border-radius: 20px;
}

.room_type_name {
    font-size: 22px;
    /* flex-direction: column; */
}

.room_information {
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
}

.room_information_image {
    width: 600px;
    height: 350px;
    margin-right: 20px;
    border-radius: 20px;
}


.room_information_details {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* font-size: 20px; */
}

.room_information_content {
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    border-radius: 20px;
    font-size: 18px;

    background-color: white;
    /* width: 500px; */
    height: 150px;
}

.room_information_content div {
    padding: 10px;
    /* align-content: space-between; */
    /* justify-content: space-evenly; */
}

.room_information_price {
    width: 200px;
    height: 150px;
    text-align: center;

    display: flex;
    flex-direction: column;
    /* flex-flow: column wrap; */
    /* justify-content: space-evenly; */
    margin-top: 50px;
    margin-left: 300px;
    /* padding: 15px; */
}

.room_information_price div {
    padding-bottom: 10px;
}

.price_event {
    font-size: small;
}

.list_price {
    text-decoration-line: line-through;
}

.purchase_price {
    text-align: end;
    font-weight: bold;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: rgba(164, 178, 192, 0.142);
    /* font-family: "paybooc-Light", sans-serif; */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo-outline {
    border: 3px solid white;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: white;
}

/* 이용정보 */
.hotel_guide li {
    padding: 5px;
}


/* 리뷰 */
.review {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    /* margin: calc(100%); */
}

.review_design {
    /* flex: 1; */
    width: 350px;
    height: 350px;
    background-color: antiquewhite;
}

/* footer */
footer {
    display: inline-block;

    width: 100%;
    margin: auto;
    background-color: rgba(164, 178, 192, 0.142);
}

.footer,
.Copyright {
    margin-bottom: 32px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}