* {
    list-style: none;
    font-family: Nanum_Gothic_bold;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    /* font-face 지시자 내 font-family 에 지정하는 폰트명은 사용자 임의로 지정 가능. */
    font-family: Nanum_Gothic_bold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Bold.ttf);

    font-family: Nanum_Gothic_ExtraBold;
    src: url(../css/font/Nanum_Gothic/NanumGothic-ExtraBold.ttf);

    font-family: Nanum_Gothic;
    src: url(../css/font/Nanum_Gothic/NanumGothic-Regular.ttf);


    font-family: Jua-Regular;
    src: url(../css/font/Jua/Jua-Regular.ttf);

}

/* header */
header li,
header a,
header button {
    font-size: 16px;
    color: rgba(32, 50, 56, 0.774);
    text-decoration: none;
}

header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 30px 10%;
    background-color: rgba(164, 178, 192, 0.142);
    scroll-behavior: smooth;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

header button {
    margin-left: 20px;
    padding: 7px 7px;
    /* background-color: rgba(61, 173, 201, 0.732); */
    background-color: #3489ae82;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    color: white;
    background-color: rgba(0, 135, 169, 0.39);
}

/* 객실 검색 상단바 */
.nav_1 {
    /* height: 15px; */
}

.search_bar {
    /* height: 20%; */
    display: flex;
    /* width: 1200px; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    /* padding-top: 10px; */
    top: 0;
    background-color: white;
    height: 10vh;
    z-index: 9999;
}

.location_search_box {
    /* width: 250px;
    height: 40px; */
    /* border: none; */
    /* background-color: rgba(0, 135, 169, 0.39); */
    width: 16vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
}

.date_box {
    display: flex;
}

.check_in_date {
    width: 8vw;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.check_out_date {
    width: 8vw;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.occupancy_box {
    width: 8vw;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search_button {
    width: 6vw;
    height: 40px;
    border: none;
    /* border: 1px solid rgba(0, 135, 169, 0.39); */
    border-radius: 5px;
    background-color: rgba(0, 135, 169, 0.39);
}

@media screen and (width < 870px) {
    .main_img_large {
        min-width: 200px !important;
    }

    .main_img_small {
        min-width: 85.5px !important;
    }
}

@media screen and (width < 1130px) {
    .top_review_area {
        width: 486px !important;
    }

    /* 숙소 */
}

@media screen and (width < 955px) {
    .information1 {
        display: block !important;
    }

    .top_review_area {
        width: auto !important;
    }

    .map_image {
        width: auto !important;
    }
}

/* main */
section h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* 상단 이미지 */
.main_screen {
    max-width: 1200px;
    margin: auto;
}

.name_details {
    margin-bottom: 25px;
}

.name_details h1 {
    margin: 0;
    display: inline-block;
}

.name_details span {
    font-size: 12px;
}



.main_img_area {
    height: 440px;
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
}

.main_img_large {
    min-width: 445px;
    height: 100%;
    cursor: pointer;
    grid-row: span 2 / span 2;
    position: relative;
}

.main_img_large img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.main_img_small {
    min-width: 185.5px;
    height: 100%;
    cursor: pointer;
    grid-row: span 1 / span 1;
    position: relative;
}

.main_img_small:nth-child(4) img {
    border-top-right-radius: 8px;
}

.main_img_small:nth-child(5) img {
    border-bottom-right-radius: 8px;
}

.main_img_area img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_img_area img:hover {
    opacity: 50%;
    /* transition-timing-function: ease-in-out; */
    transition-duration: 500ms;
}

/* 정보 네이게이션(위치이동) */
.nav_2 {
    width: auto;
    height: fit-content;
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 20px 0;
    /* box-shadow: 1px 4px 20px 0px rgb(0, 0, 0, 0.2); */
    box-shadow: 1px 1.5px 10px 0px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
}

.nav_3 {
    list-style: none;
    padding: 0;
}

.nav_3 li {
    flex: 1;
    /* justify-content: space-evenly; */
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    min-width: 70px;
}

/* article */
.information1 {
    display: flex;
}

/* 탑리뷰 */
.top_review {
    flex: 2;
}

.top_review h2 {
    margin-bottom: 5px;
}

.top_review_location {
    display: inline-block;
    padding-bottom: 20px;
}

.top_review_area {
    width: 650px;
}

.scroll_area {
    width: auto;
    overflow-x: auto;
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll_area .item {
    display: inline-block;
    height: 153px;
    width: 486px;
    background-color: rgb(250 250 250 / 1);
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    border-radius: 12px;
}

.scroll_area .item div span:nth-child(1) {
    float: left;
}

.scroll_area .item div span:nth-child(2) {
    float: right;
}

.scroll_area .item p {
    width: 100%;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    letter-spacing: 0px;
    color: rgb(112 112 112 / 1);
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* 위치 */
.map {
    flex: 1;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0px auto; */
}

.map h2 {
    margin-bottom: 5px;
}

.map_image {
    /* background: url(../image/hotel/location_shilla.png) 0/100% 100%; */
    width: 450px;
    height: 250px;
    margin-top: 20px;

    /* position: relative; */
    /* display: flex; */
    /* flex-direction: row; */
    border-radius: 15px;
    box-shadow: 1px 4px 20px 0px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.map_location {
    display: flex;
    flex-direction: column;
}

.map_location_details1 {
    line-height: 40px;
}

.map_location_details2 {
    font-size: 14px;
    line-height: 30px;
}

/* article */
.information2 {
    display: flex;
}

/* 호텔 소개(정보) */
.hotel_information {
    flex: 1;
    /* width: 800px; */
    /* font-size: 12px; */
}

.hotel_information p {
    /* white-space: pre-line; */
    margin: 0;
    line-height: 23px;
}

/* 시설 및 서비스 */
.service_area {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.service_area>h2 {
    margin-left: 50px;
}

.service_area_details {
    padding: 0 50px;
    margin: 0;
    justify-content: space-evenly;
    line-height: 30px;
}

.service_area_details>span {
    margin-right: 10px;
}

.service_area_details img,
.top_review img,
.map img,
.map_location_details1 img,
.main_review img {
    width: 24px;
    margin-bottom: -7px;
}

/* 객실 */
.room_type {
    /* display: flex; */
    background-color: rgba(164, 178, 192, 0.142);
    padding: 20px;
    margin: 40px 0;
    box-sizing: border-box;
    /* border: solid; */
    border-radius: 20px;
}

.room_type h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.room_type_name {
    font-size: 22px;
    /* flex-direction: column; */
}

.room_information {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
}

.room_information_image {
    width: 540px;
    height: 280px;
    margin-right: 20px;
    border-radius: 20px;
}


.room_information_details {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* font-size: 20px; */
}

.room_information_content {
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    border-radius: 20px;
    font-size: 17px;

    background-color: white;
    /* width: 500px; */
    height: 150px;
}

.room_information_content div {
    padding: 10px;
    /* align-content: space-between; */
    /* justify-content: space-evenly; */
}

.room_information_price {
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    /* flex-flow: column wrap; */
    /* justify-content: space-evenly; */
    margin-top: 50px;
    margin-left: 300px;
    /* padding: 15px; */
}

.room_information_price div {
    padding-bottom: 10px;
}

.price_event {
    font-size: small;
}

.list_price {
    text-decoration-line: line-through;
    letter-spacing: 2px;
}

.purchase_price {
    text-align: end;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: rgba(164, 178, 192, 0.142);
    /* font-family: "paybooc-Light", sans-serif; */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo-outline {
    border: 3px solid white;
    color: #000000;
}

.w-btn-indigo-outline:hover {
    color: #000000;
    background: white;
}

/* 이용정보 */
.hotel_guide li {
    padding: 5px;
    /* list-style: inside; */
}

.hotel_guide li::marker {
    content: "- ";
    /* 마커 내용 */
    /* color: red; 마커 색상 */
    /* font-size: 1em; 마커 크기 */
}


/* 리뷰 */
.main_review {
    /* height: 700px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly; */
}

.main_review h2 {
    margin-bottom: 5px;
}

.review_location {
    display: flex;
    padding-bottom: 20px;
}

.review_location .left_area {
    float: left;
}

.review_location .right_area {
    float: right;
}

.review {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* gap: 10px; */
    /* margin: calc(100%); */
}

.review_design {
    height: 400px;
    background-color: rgba(164, 178, 192, 0.142);
    border-radius: 30px;

    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.review_username {
    flex: 1;
}

.review_content {
    flex: 3;
}

.review_star {
    margin-bottom: 10px;
}

/* .review_star .left-area {
    float: left;
}

.review_star .right-area {
    float: right;
} */

.review_star>img {
    /* background-color: yellow; */
}

.review_img {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
}

.review_img_size {
    width: auto;
    height: auto;
    min-width: 150px;
    min-height: 130px;
    background-color: white;
    border-radius: 20px;

    position: relative;

    /* display: flex; */
    /* flex-direction: column; */
}

.review_img>a {
    /* align-items: center; */
    position: absolute;
    left: calc((100% - 24px)/2);
    bottom: calc((100% - 24px)/2);
}

.review_text {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    margin-left: 7px;
    /* justify-content: center; */
}

/* 더보기 */
.review_more {
    /* height: 50px; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.review_more>a {
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 15px;
    /* border: 2px solid rgba(164, 178, 192, 0.142); */
    color: black;
    margin: 10px 0;

}

.review_more>a:hover {
    background-color: rgba(164, 178, 192, 0.142);
    transition: 0.4s;
}

/* footer */
footer {
    display: inline-block;

    width: 100%;
    margin: auto;
    background-color: rgba(164, 178, 192, 0.142);
}

.footer,
.Copyright {
    margin-bottom: 32px;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(153 153 153 / var(--tw-text-opacity));
}