<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="headlogo">
            <div>
                <a class="logo" style="font-size: 20px;">logo</a>
            </div>

            <div>
                <a href="#">이벤트</a>
                <a href="#">고객센터</a>
            </div>
        </div>
    </header>
</body>

</html>