<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <header>
        <img src="../image/hotsix_logo1.png" class="logo" src="" alt="logo">
        <nav>
            <ul class="nav_link">
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Event</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Customer Service</button></a>
    </header>

    <main>
        <section>
            <div class="mainimg">
                <div id="slider" class="slider">
                    <div class="slider_content">
                        <img class="slide" src="../image/background2.jpg">
                    </div>
                </div>

                <div class="form_section">
                    <form class="form">
                        <input type="text" placeholder="검색어를 입력해주세요">
                        <input type="email" placeholder="날짜">
                        <input type="password" placeholder="인원 명">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </section>


        <section class="region_section">
            <div class="" style="padding-top: 16px; padding-bottom: 16px;">
                <div style="justify-content: space-between; align-items: center; display: flex;box-sizing: border-box;">
                    <h2 style="display: block; font-size: 1.125rem; line-height: normal;">인기 지역</h2>
                </div>
            </div>
            <div class="region_inner">
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/busan.png">
                            <span>부산</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#" value="서울">
                        <div>
                            <img src="../image/seoul.png">
                            <span>서울</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/busan.png">
                            <span>부산</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/busan.png">
                            <span>부산</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div>
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="regionbutton">
                    <a><img src="../image/free-icon-right-arrow-271228.png"></a>

                </div>
            </div>
        </section>

        <section class="region_section">
            <div class="" style="padding-top: 16px; padding-bottom: 16px;">
                <div
                    style="justify-content: space-between; align-items: center; display: flex; box-sizing: border-box;">
                    <h2 style="display: block; font-size: 1.125rem; line-height: normal;">추천 숙소</h2>
                </div>
                <ul class="selectarea"
                    style="display: flex; width: 100%; overflow-x: auto; overscroll-behavior: none;gap: 6px 8px; flex-wrap: nowrap;">
                    <li id="TAB_0" tabindex="0" role="tab" aria-selected="true" class="">전체</li>
                    <li id="TAB_0" tabindex="1" role="tab" aria-selected="false" class="">호텔</li>
                    <li id="TAB_0" tabindex="2" role="tab" aria-selected="false" class="">펜션.풀빌라</li>
                    <li id="TAB_0" tabindex="3" role="tab" aria-selected="false" class="">게스트하우스</li>
                </ul>
            </div>
            <div class="lodging_inner">
                <div class="lodging">
                    <div>
                        <a href="#">
                            <div style="width: 100% !important;height: auto !important;padding-top: 60% !important;">
                                <img src="../image/jeonju.png">
                            </div>
                            <!-- <div
                                style="height: 15px;display:flex; flex-direction: column;justify-content:space-between;">
                                <div><span>a</span></div>
                                <div>
                                    <h3
                                        style="font-size: 1rem;line-height: 1.5rem;letter-spacing: 0px;font-weight: 700;--tw-text-opacity: 1;color: rgb(51 51 51 / var(--tw-text-opacity));
                                overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;">
                                        test</h3>
                                </div>
                                <div style="margin-top: -2px;display: flex;-webkit-box-flex: 1;flex-grow: 1;
                                flex-direction: row;-webkit-box-align: center;align-items: center;overflow: hidden;
                                text-overflow: ellipsis;white-space: nowrap;"><span>asdasd</span></div>
                                <div><span>asdasd</span></div>
                                <div><span>asdasd</span></div>
                            </div> -->
                            <div class="lodging_value">
                                <div>
                                    <h3>페이지 테스트중</h3>
                                </div>
                                <div><span>a</span></div>
                                <div><span>ab</span></div>
                                <div><span>abc</span></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="lodging">
                    <div>
                        <a href="#">
                            <!-- <img src="../image/jeonju.png"> -->
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                        </a>
                    </div>
                </div>
                <div class="lodging">
                    <div>
                        <a href="#">
                            <!-- <img src="../image/jeonju.png"> -->
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                        </a>
                    </div>
                </div>
                <div class="lodging">
                    <div>
                        <a href="#">
                            <!-- <img src="../image/jeonju.png"> -->
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                        </a>
                    </div>
                </div>
                <div class="lodging">
                    <div>
                        <a href="#">
                            <!-- <img src="../image/jeonju.png"> -->
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                            <div><span></span></div>
                        </a>
                    </div>
                </div>
        </section>


        <section>
            <div class="" style="background-color: bisque; margin-top: 1vw;">
                <div>

                </div>
            </div>
        </section>
    </main>



    <footer style="margin-top: 100px;">
        <div>
            <div class="customer">
            </div>
            <div class="footer" style="text-align:center;">
                회사명 : 테스트페이지
                대표 : 이승현<br>
                주소 : 서울 구로구 경인로55길 58, 구로밸리온 1005호<br>
                TEL : 1234-1234
                FAX : 02) 1234-1234<br>
                고객지원 : 010-0000-0000
                사업자번호 : 000-00-1234<br>
                Copyrightⓒ by yacobleee
                All rights reserved.<br>
                WebMaster: yacobleee@naver.com
            </div>

            <p class="Copyright" style="text-align: center;">Copyright LS COMPANY Corp. All rights reserved.
            </p>
        </div>
    </footer>
</body>



</html>