<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/main.js"></script>
</head>

<body>
    <header>
        <img src="../image/hotsix_logo1.png" class="logo" src="" alt="logo">
        <nav>
            <ul class="nav_link">
                <li><a href="#">Login</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Event</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Customer Service</button></a>
    </header>


    <section class="mainimg_section">
        <div class="mainimg">
            <div id="slider" class="slider">
                <div class="slider_content">
                    <!-- <video src="" muted autoplay loop poster="../image/background2.jpg"></video> -->
                    <img class="slide" src="../image/background2.jpg" alt="">
                </div>
            </div>

            <div class="form_section">
                <form class="form">
                    <input type="text" placeholder="검색어를 입력해주세요">
                    <input type="email" placeholder="날짜">
                    <input type="password" placeholder="인원 명">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>


    <section class="region_section">
        <div class="" style="padding-top: 16px; padding-bottom: 16px;">
            <div style="justify-content: space-between; align-items: center; display: flex;box-sizing: border-box;">
                <h2 style="display: block; font-size: 1.3em; line-height: normal;">인기 지역</h2>
            </div>
        </div>
        <div class="region_inner">
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/busan.png" alt="">
                        <span>부산</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/seoul.png" alt="">
                        <span>서울</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/busan.png" alt="">
                        <span>부산</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/busan.png" alt="">
                        <span>부산</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="region">
                <a href="#">
                    <div>
                        <img src="../image/jeonju.png" alt="">
                        <span>전주</span>
                    </div>
                </a>
            </div>
            <div class="regionbutton">
                <a><img src="../image/free-icon-right-arrow-271228.png" alt=""></a>
            </div>
        </div>
    </section>

    <section class="region_section">
        <div class="" style="padding-top: 16px; padding-bottom: 16px;">
            <div style="justify-content: space-between; align-items: center; display: flex; box-sizing: border-box;">
                <h2 style="display: block; font-size: 1.3em; line-height: normal;">추천 숙소</h2>
            </div>
            <ul class="selectarea" role="tablist">
                <li id="TAB_0" tabindex="0" role="tab" aria-selected="true">전체</li>
                <li id="TAB_1" tabindex="1" role="tab" aria-selected="false">호텔</li>
                <li id="TAB_2" tabindex="2" role="tab" aria-selected="false">펜션.풀빌라</li>
                <li id="TAB_3" tabindex="3" role="tab" aria-selected="false">게스트하우스</li>
            </ul>
        </div>
        <div class="lodging_inner">

            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel1.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">제주 호텔</li>
                                <li class="lodging_address">제주시 애월읍</li>
                                <li class="lodging_num">0.0 별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">90000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay"></span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel2.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 한옥 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num"> 9.0 별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">80000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">90000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel3.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">강남 호텔</li>
                                <li class="lodging_address">서울시 강남구</li>
                                <li class="lodging_num">9.0 별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">60000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel4.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num">별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">20000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel4.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num">별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">20000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel4.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num">별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">20000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel4.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num">별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">20000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging">
                <div>
                    <a href="">
                        <div class="lodging_img">
                            <img src="../image/hotel4.JPG" alt="">
                        </div>
                        <div class="lodging_value">
                            <ul>
                                <li class="lodging_type">호텔</li>
                                <li class="lodging_infor">전주 호텔</li>
                                <li class="lodging_address">전라북도 전주시 완산구</li>
                                <li class="lodging_num">별점<sub>9999명 평가</sub></li>
                                <li class="coupon">쿠폰적용시</li>
                                <li>
                                    <span class="coupon_pay">20000</span>
                                    <span class="coupon_pay">원</span>
                                    <span class="lodging_pay">80000원</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodgingbutton">
                <a><img src="../image/free-icon-right-arrow-271228.png" alt=""></a>
            </div>
        </div>
    </section>

    <section class="event_section">
        <div class="" style="padding-top: 16px; padding-bottom: 16px;">
            <div style="justify-content: space-between; align-items: center; display: flex; box-sizing: border-box;">
                <h2 style="display: block; font-size: 1.3em; line-height: normal;">이벤트</h2>
            </div>
        </div>
        <div class="event">
            <div class="event_inner">
                <figure>
                    <img src="../image/test/다운로드.jpg" alt="event1">
                </figure>
                <section class="" style="width: 100%;display: none; height: 100%; z-index: 1;"></section>
                <article class="">
                    <h3>EVENT</h3>
                    <div>
                        <p>최고의 호텔에서 누려보세요</p>
                    </div>
                    <div><a class="invite" style="" href="">참여하기</a></div>
                </article>
            </div>
            <div class="event_inner">
                <figure>
                    <img src="../image/test/다운로드.jpg" alt="event1">
                </figure>
                <section class="" style="width: 100%;display: none; height: 100%; z-index: 1;"></section>
                <article class="">
                    <h3>EVENT</h3>
                    <div>
                        <p>최고의 호텔에서 누려보세요</p>
                    </div>
                    <div><a class="invite" style="" href="">참여하기</a></div>
                </article>
            </div>
            <div class="event_inner">
                <figure>
                    <img src="../image/test/다운로드 (1).jpg" alt="event1">
                </figure>
                <section class="" style="width: 100%;display: none; height: 100%; z-index: 1;"></section>
                <article class="">
                    <h3>EVENT</h3>
                    <div>
                        <p>최고의 호텔에서 누려보세요</p>
                    </div>
                    <div><a class="invite" style="" href="">참여하기</a></div>
                </article>
            </div>
            <div class="left">
                <a class="leftbutton"><img src="../image/leftbutton.jpg" alt=""></a>
                <a class="rightbutton"><img src="../image/rightbutton.jpg" alt=""></a>
            </div>
            <div class="right">
            </div>
        </div>





    </section>


    <div class="empty_box">
    </div>

    <footer style="margin-top: 200px;">
        <div>
            <div class="customer">
            </div>
            <div class="footer" style="text-align:center;">
                회사명 : 테스트페이지
                대표 : 이승현<br>
                주소 : 서울 구로구 경인로55길 58, 구로밸리온 1005호<br>
                TEL : 1234-1234
                FAX : 02) 1234-1234<br>
                고객지원 : 010-0000-0000
                사업자번호 : 000-00-1234<br>
                Copyrightⓒ by yacobleee
                All rights reserved.<br>
                WebMaster: yacobleee@naver.com
            </div>

            <p class="Copyright" style="text-align: center;">Copyright LS COMPANY Corp. All rights reserved.
            </p>
        </div>
    </footer>
</body>



</html>