여기서 가운데ㅗㄹ 놓고싶고 여백이 있었으 좋게써 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="../css/main.css">
    <style>

    </style>
</head>

<body>
    <header>
        <div class="headlogo">
            <div>
                <a class="logo" style="font-size: 20px;">logo</a>
            </div>

            <div>
                <a href="#">이벤트</a>
                <a href="#">고객센터</a>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="slider-container inline_section"> <!-- 수정: slider를 감싸는 div 추가 -->
                <div id="slider" class="slider inline_section">
                    <div class="slide"></div>
                    <div class="slide"></div>
                    <div class="slide"></div>
                </div>
            </div>
            <div class="searchdiv inline_section">
                <form role="search">
                    <input type="text">
                    <label for="startdate">시작</label>
                    <input id="startdate" type="date">
                    <label for="enddate">마무리</label>
                    <input id="enddate" type="date">
                    <input type="number" placeholder="명">
                </form>
            </div>
        </section>

        <section class="region-section">
            <div>
                <div class="region">
                    <a href="#">
                        <div style="height: 100%;">
                            <img src="../image/busan.png">
                            <span>부산</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#" value="서울">
                        <div style="height: 100%;">
                            <img src="../image/seoul.png">
                            <span>서울</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div style="height: 100%;">
                            <img src="../image/jeonju.png">
                            <span>전주</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div style="height: 100%;">
                            <img src="../image/busan.png">
                            <span>test</span>
                        </div>
                    </a>
                </div>
                <div class="region">
                    <a href="#">
                        <div style="height: 100%;">
                            <img src="../image/busan.png">
                            <span>test</span>
                        </div>
                    </a>
                </div>
                <!-- <div class=" " tabindex="-1">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"></svg>
                </div> -->
            </div>
        </section>


        <section>
            <div class="inline_section" style=" width: 100%; background-color: bisque; margin-top: 1vw;">
                <div>

                </div>
            </div>
        </section>
    </main>



    <footer style="margin-top: 100px;">
        <div>
            <div class="customer">

            </div>
            <div class="footer" style="text-align:center;">
                회사명 : 테스트페이지
                대표 : 이승현<br>
                주소 : 서울 구로구 경인로55길 58, 구로밸리온 1005호<br>
                TEL : 1234-1234
                FAX : 02) 1234-1234<br>
                고객지원 : 010-0000-0000
                사업자번호 : 000-00-1234<br>
                Copyrightⓒ by yacobleee
                All rights reserved.<br>
                WebMaster: yacobleee@naver.com
            </div>

            <p class="Copyright" style="text-align: center;">Copyright LS COMPANY Corp. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>